<style>
    .receive_add_address{
        width: 100%;
    }
    .receive_add_address_title{
        padding: 10px;border-bottom: 1px solid #cfcfcf;text-align: center;
    }
    .receive_add_address_content{
        margin-top: 10px;
    }
</style>
<div class="receive_add_address">
    <div class="receive_add_address_title">添加收货地址</div>
    <div class="receive_add_address_content">
        <form id="edit_pwd_form" method="post" class="am-form " action="" data-am-validator>
            <div class="am-form-group">
                <input style="width: 96%;margin: 0 auto;" type="text"  name="" class="am-form-field" placeholder="请输入收货人" required />
            </div>
            <div class="am-form-group">
                <input style="width: 96%;margin: 0 auto;" type="text"  name="" class="am-form-field" placeholder="请输入手机号" required />
            </div>
            <div class="am-form-group">
                <input style="width: 96%;margin: 0 auto;" type="text" id=""  name="" class="am-form-field" placeholder="请确认详细地址" required />
            </div>
            <button style="width: 96%;margin: 0 auto;margin-bottom: 20px;background: #fd4e87;color: #ffffff;" id="edit_pwd_btn" type="button" class="am-btn am-btn-default am-btn-block am-btn-next">保存收货地址</button>
        </form>
    </div>
</div>