<link rel="stylesheet" href="/assets/css/shopinfo.css">
<style>
    .error{
        border: 1px solid red;
    }
</style>
<div class="register_one_header">
    <span class="register_header_title">商家入驻</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="sky_my_income">
    <form class="am-form" name="signUpForm">
        <div class="am-form-group am-form-file upload_img_all">
            <input id="file" type="file" accept="image/*" capture=camera"/>
            <div class="upload_img_div1">
                <div class="upload_img_div2">
                    <img id="previewResult" src="/assets/images/registered_avatar@2x.png"/>
                </div>
                <button id="btn_file" type="button" class="am-btn am-btn-danger am-btn-sm upload_img_btn">
                    <i class="am-icon-cloud-upload"></i> 上传logo</button>
                <input type="hidden" name="img_input" id="img_input">
            </div>
        </div>
        <div class="am-form-icon merchants_settled_information">
            <i class="am-icon-user"></i>
            <input id="merchants_settled_information_input_1" type="text" name="shop_name"
                   ng-model="shop_name"
                   ng-class="{'error':signUpForm.shop_name.$invalid && signUpForm.shop_name.$touched}"
                   required
                   class="am-form-field user_add_phone merchants_settled_information_input disabled"
                   placeholder="请输入商家名称"/>
        </div>
        <div class="am-input-group merchants_settled_information">
            <select id="shop_type" name="type" class="am-form-select" required>
                <option value="">-请选择类别-</option>
                <option value="" selected="selected" >服装批发</option>
            </select>
        </div>
        <div class="am-form-group" >
            <select id="province_code" name="province_code" onchange="changeSelect(this)" required>
                <option value="">-请选择省份-</option>
                <option value="" selected="selected">江苏省</option>
            </select>
            <select id="city_code" name="city_code" onchange="changeSelectCity(this)" required>
                <option value="">-请选择城市-</option>
                <option value="" selected="selected">苏州市</option>
            </select>
            <select id="area_code" name="area_code" required>
                <option value="">-请选择区域-</option>
                <option value="" selected="selected">昆山市</option>
            </select>
        </div>
        <div class="am-form-group am-form-icon merchants_settled_information">
            <i class="am-icon-map-marker"></i>
            <input id="merchants_settled_information_input_3" type="text" name="address"
                   ng-model="address"
                   ng-class="{'error':signUpForm.address.$invalid && signUpForm.address.$touched}"
                   required
                   class="am-form-field user_add_phone"
                   placeholder="定位地址在哪里" required />
        </div>
        <div class="am-form-group am-form-icon merchants_settled_information">
            <i class="am-icon-user"></i>
            <input id="merchants_settled_information_input_2" type="text" name="parent_flag"
                   ng-model="parent_flag"
                   ng-class="{'error':signUpForm.parent_flag.$invalid && signUpForm.parent_flag.$touched}"
                   required
                   class="am-form-field user_add_phone"
                   placeholder="请输入邀请人" onblur="get_name_by_keywords(this)"/>
        </div>
        <div class="am-form-group am-form-icon merchants_settled_information">
            <i class="am-icon-phone"></i>
            <input id="merchants_settled_information_input_4" type="text" name="person"
                   ng-model="person"
                   ng-class="{'error':signUpForm.person.$invalid && signUpForm.person.$touched}"
                   minlength="11"
                   maxlength="11"
                   required
                   class="am-form-field user_add_phone"
                   placeholder="请输入联系电话"/>
        </div>
        <div class="am-form-group am-form-icon merchants_settled_information">
            <i class="am-icon-clock-o"></i>
            <input id="merchants_settled_information_input_5" type="text" name="business_time"
                   ng-model="business_time"
                   ng-class="{'error':signUpForm.business_time.$invalid && signUpForm.business_time.$touched}"
                   required
                   class="am-form-field user_add_phone"
                   placeholder="请输入营业时间(8:00~21:00)"/>
        </div>
        <div class="am-input-group merchants_settled_map">
            <span class="merchants_settled_map_img"><img src="/assets/images/businesssettledin_icon_map.png"></span>
            <button type="button" class="am-btn am-btn-secondary am-btn-block" ng-click="openMap()">腾讯地图</button>
            <input id="merchants_settled_information_input_6" required readonly="readonly" type="text"  class="am-form-field am-u-sm-4" placeholder="请输入纬度" id="data_lat" name="lat">
            <input id="merchants_settled_information_input_7" required readonly="readonly" type="text" class="am-form-field am-u-sm-4" placeholder="请输入经度" id="data_lng" name="lng">
        </div>
        <div class="am-form-group am-form-file upload_img_all">
            <input id="license" type="file" accept="image/*" capture=camera"/>
            <div class="upload_img_div1">
                <div class="upload_img_div3">
                    <img id="license_previewResult" src="../../statics/images/businessessettled_icon_picture.png"/>
                </div>
                <button id="btn_license" type="button" class="am-btn am-btn-danger am-btn-sm upload_img_btn">
                    <i class="am-icon-cloud-upload"></i> 上传营业执照</button>
                <input type="hidden" name="license" id="license_img_input">
            </div>
        </div>
        <div class="am-form-group am-form-file upload_img_all">
            <input id="cns1" type="file" accept="image/*" capture=camera"/>
            <div class="upload_img_div1">
                <div class="upload_img_div3">
                    <img id="cns1_previewResult" src="../../statics/images/businessessettled_icon_picture.png"/>
                </div>
                <button id="btn_cns1" type="button" class="am-btn am-btn-danger am-btn-sm upload_img_btn">
                    <i class="am-icon-cloud-upload"></i> 上传承诺书</button>
                <input type="hidden" name="cns1" id="cns1_img_input">
            </div>
        </div>
        <div class="am-form-group am-form-file upload_img_all">
            <input id="cns2" type="file" accept="image/*" capture=camera"/>
            <div class="upload_img_div1">
                <div class="upload_img_div3">
                    <img id="cns2_previewResult" src="../../statics/images/businessessettled_icon_picture.png"/>
                </div>
                <button type="button" class="am-btn am-btn-danger am-btn-sm upload_img_btn">
                    <i class="am-icon-cloud-upload"></i> 手持身份证</button>
                <input type="hidden" name="cns2" id="cns2_img_input">
            </div>
        </div>
        <div class="am-input-group merchants_settled_information">
            <select id="shop_type1" name="type" class="am-form-select">
                <option value="">-请选择分销类别-</option>
                <option value="" selected="selected" >24系列</option>
            </select>
        </div>
        <div class="am-form-group merchants_settled_shop_information">
            <textarea id="shop_desc" maxlength="100" placeholder="请输入商家简介" name='desc' class="am-form-field">请输入商家简介请输入商家简介请输入商家简介请输入商家简介请输入商家简介请输入商家简介请输入商家简介请输入商家简介</textarea>
        </div>
        <div class="merchants_settled_shop_information_images">
            <span class="am-icon-file-image-o">上传图片</span>
            <input style="margin-top: 10px;" type="file" id="one-input" accept="image/*" file-model="images" onchange="angular.element(this).scope().img_upload(this.files)"/>
            <img id="imgCompress" style="display: none">
        </div>
        <div class="merchants_settled_shop_information_upload" ng-repeat="item in thumb">
            <div class="merchants_settled_shop_information_upload_1"><img ng-src="{{item.imgSrc}}"></div>
            <div class="merchants_settled_shop_information_upload_2">&nbsp;{{item.name}}</div>
            <!--<div class="merchants_settled_shop_information_upload_3">&nbsp;{{item.size}}KB</div>-->
            <div class="merchants_settled_shop_information_upload_4" ng-click="img_del($index)"><img src="/assets/images/businesssettled_button_delete.png"></div>
        </div>


        <div class="merchants_settled_shop_information_btn">
            <button type="submit" class="am-btn am-btn-secondary am-btn-default am-btn-block login_form_btn" ng-disabled="signUpForm.$invalid">提交</button>
            <button ui-sref="main.my_shop_center" type="submit" class="am-btn am-btn-default am-btn-block login_form_btn1">取消</button>
        </div>
    </form>
</div>

<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
<script>
	window.addEventListener('message', function(event) {
		// 接收位置信息，用户选择确认位置点后选点组件会触发该事件，回传用户的位置信息
		var loc = event.data;
		if (loc && loc.module == 'locationPicker') {//防止其他应用也会向该页面post信息，需判断module是否为'locationPicker'
			$("[name='lat']").val(loc.latlng.lat)
			$("[name='lng']").val(loc.latlng.lng)
//			$("#baidu_map").modal('close');
		}
	}, false);
</script>