<link rel="stylesheet" href="/assets/css/cashierdesk.css">
<div class="register_one_header">
    <span class="register_header_title">收银台</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="sky_my_income">
    <div class="sky_list_orders_content_one">
        <span class="order_money_all">&nbsp;订单金额</span>
        <span class="sky_list_orders_content_price">&nbsp;117.00元</span>
    </div>
    <div class="cashier_desk_lines"></div>
    <div class="sky_list_orders_content_one">
        <span class="order_money_all">
            <span><img src="../../assets/images/mail_icon_wechatl.png" /><span>
            </span>微信支付</span>
            <!--<p>aaa</p>-->
        </span>
        <span class="sky_list_orders_content_price"><span><img src="../../assets/images/mail_icon_arrow.png" /></span></span>
    </div>
    <div class="sky_list_orders_content_one">
        <span class="order_money_all">
            <span><img src="../../assets/images/mail_icon_alipay.png" /><span>
            </span>支付宝支付</span>
            <!--<p>aaa</p>-->
        </span>
        <span class="sky_list_orders_content_price"><span><img src="../../assets/images/mail_icon_arrow.png" /></span></span>
    </div>
</div>