<link rel="stylesheet" href="/assets/css/confirmationorder.css">
<div class="register_one_header">
    <span class="register_header_title">确认订单</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="sky_my_income">
    <div class="confirmation_order_name_address">
        <div class="confirmation_order_name">周小婷<span>&nbsp;&nbsp;15850293624</span></div>
        <div class="confirmation_order_address">江苏省 苏州市 昆山市 学院路 999 号美居客 号美居客 号美居客 号美居客</div>
    </div>
    <div class="confirmation_order_image_fenge"><img src="/assets/images/mall_icon_envelope.png"></div>
    <div>
        <div class="confirmation_order_goods_information">
            <div class="confirmation_order_goods_information_img_name">
                <img src="/assets/images/mall_icon_shop.png">
                <span>沃若玩具乐器专营店</span>
            </div>
            <div class="confirmation_order_goods_information_all">
                <div class="confirmation_order_goods_information_img"><img src="/assets/images/shop.jpg"></div>
                <div class="confirmation_order_goods_information_all_name">沃若 圣诞装饰品圣诞花环挂件诞圣诞环挂件诞</div>
                <div class="confirmation_order_goods_information_all_size">颜色：大红色 尺码：40cm</div>
                <div class="confirmation_order_goods_information_all_price">￥39.00<span>x3</span></div>
            </div>
        </div>

        <div class="confirmation_order_goods_information">
            <div class="confirmation_order_goods_information_img_name">
                <img src="/assets/images/mall_icon_shop.png">
                <span>沃若玩具乐器专营店</span>
            </div>
            <div class="confirmation_order_goods_information_all">
                <div class="confirmation_order_goods_information_img"><img src="/assets/images/shop.jpg"></div>
                <div class="confirmation_order_goods_information_all_name">沃若 圣诞装饰品圣诞花环挂件诞</div>
                <div class="confirmation_order_goods_information_all_size">颜色：大红色 尺码：40cm</div>
                <div class="confirmation_order_goods_information_all_price">￥39.00<span>x3</span></div>
            </div>
        </div>
    </div>
    <div class="confirmation_order_goods_pay_way_all">
        <div class="confirmation_order_goods_pay">支付配送</div>
        <div class="confirmation_order_goods_way">
            <div>在线支付</div>
            <div>快递运输</div>
            <div>工作日，双休日与节假日均可送货</div>
        </div>
    </div>
    <div class="confirmation_order_goods_pay_way_all">
        <div class="confirmation_order_goods_pay">账户余额</div>
        <div class="confirmation_order_goods_price_all">
            葵花籽&nbsp;&nbsp;共
            <span class="confirmation_order_goods_price">￥44&nbsp;&nbsp;支付￥44</span>
            <span class="confirmation_order_goods_price_btn"><img src="/assets/images/mall_icon_opened.png"></span>
        </div>
    </div>
    <div class="confirmation_order_goods_user_advice">
        <textarea placeholder="选填：给商家留言(45字)以内"></textarea>
    </div>
    <div class="confirmation_order_goods_pay_price">
        <div class="confirmation_order_goods_pay">实时付款</div>
        <div style="margin-top: -5px;padding-left: 20px;color:#fe5f91;">实付款：￥44.00<span style="float: right;margin-right: 5%;margin-top: -10px;"><img src="/assets/images/mall_icon_buyimmediately.png" style="float: right;"></span></div>
    </div>
    </div>
</div>