<link rel="stylesheet" href="/assets/css/forgetpwd.css">
<link rel="stylesheet" href="/assets/css/skyregister.css">
<div class="register_one_header">
	<span class="register_header_title">忘记密码</span>
	<a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="am-g">
	<div style="margin-top: 40px;">
	   <img class="sky_register_logo" src="/assets/images/orderdetails_logo_icon.png"><br>
	<div class="am-u-lg-6 am-u-md-8 am-u-sm-centered"><br>
		<form  name="signUpForm">
			<div class="am-form-group am-form-icon">
				<i class="am-icon-mobile-phone"></i>
				<input type="number" style="border-radius: 10px;" name="mobile"
					   ng-model="mobile"
				   	   ng-class="{'error':signUpForm.mobile.$invalid && signUpForm.mobile.$touched}"
				       ng-minlength="11"
				       ng-maxlength="11"
				       required
				       class="am-form-field js-pattern-number am-form-mobile sky_register_border"
				       placeholder="请输入你的手机号(11位)"/>
		    </div>
		    <div class="get_yzm_all">
			     <div class="am-form-group">
				       <input type="number"  name="yzm" style="width: 60%; height: 50px; position:absolute;left:12px;right:100px;border-radius: 10px;"
							  ng-model="yzm"
							  ng-class="{'error':signUpForm.yzm.$invalid && signUpForm.yzm.$touched}"
							  ng-maxlength="6"
							  ng-minlength="6"
							  required
							  class="am-form-field js-pattern-number sky_register_yzm"
							  placeholder="请输入验证码"/>
			     </div>
			     <a href="javascript:;" ng-click="get_yzm()" id="get_yzm">
				      <input class="am-btn-secondary get_btn_yzm" type="button" value="获取验证码">
			     </a>
		    </div>
			<button type="submit" class="am-btn am-btn-secondary am-btn-default am-btn-block am-btn-next" ng-disabled="signUpForm.$invalid">下一步</button>
		</form>
	</div>
	</div>
</div>