<link rel="stylesheet" href="/assets/css/forgetpwd.css">
<link rel="stylesheet" href="/assets/css/skyregister.css">
<header class="am-topbar am-topbar-inverse am-topbar-fixed-top register_one_header">
	<span class="register_header_title">商家入驻</span>
	<a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</header>
<div class="am-g">
	<img class="sky_register_logo" src="/assets/images/orderdetails_logo_icon.png"><br>
	<div class="am-u-lg-6 am-u-md-8 am-u-sm-centered"><br>
		<form class="am-form" data-am-validator action="/frontend/forget_page" method="post">
			<div class="am-form-group am-form-icon">
				<i class="am-icon-mobile-phone"></i>
				<input type="number" style="border-radius: 10px;" id="doc-vld-phone-2"  name="mobile" class="am-form-field js-pattern-number am-form-mobile sky_register_border" placeholder="请输入你的手机号(11位)" required />
			</div>
			<div class="get_yzm_all">
				<div class="am-form-group">
					<input type="number"  name="yzm" id="doc-vld-yanzhengma-2" class="am-form-field js-pattern-number sky_register_yzm" style="width: 60%; height: 50px; position:absolute;left:12px;right:100px;border-radius: 10px;" placeholder="请输入验证码" required/>
				</div>
				<a href="javascript:;" onclick="get_yzm(this)" id="get_yzm">
					<input class="am-btn-secondary get_btn_yzm" type="button" value="获取验证码" >
				</a>
			</div>
			<button type="submit" class="am-btn am-btn-secondary am-btn-default am-btn-block am-btn-next">下一步</button>
		</form>
	</div>
</div>