<link rel="stylesheet" href="/assets/css/index.css">
<div class="shop_index_header">
	<div class="shop_index_header_all">
		<form class="am-topbar-form am-topbar-left am-form-inline" role="search">
			<div class="am-form-group">
				<input type="text" class="am-form-field am-input-sm" placeholder="搜索商家、品类或商家">
			</div>
		</form>
		<div id="doc-dropdown-justify">
			<div class="am-dropdown" data-am-dropdown="{justify: '#doc-dropdown-justify'}">
				<span id="address_btn" onclick="address_btn()">昆山 <span class="am-icon-caret-down"></span></span>
				<div id="tankuang" class="am-dropdown-content">
					<div id="address_provice">
						<div class="shop_index_position_city">
							<span id="insert_area_name">昆山市</span>
						</div>
						<div class="shop_index_position_provice_city_county">
							<nav>
								<ul >
									<li onclick="address_provice()">江苏省</li>
									<li>安徽省</li>
									<li>广东省</li>
									<li>北京市</li>
									<li>天津市</li>
									<li>河北省</li>
									<li>陕西省</li>
								</ul>
							</nav>
						</div>
					</div>
					<div id="address_city">
						<div class="shop_index_position_provice_city_county">
							<nav>
								<ul >
									<li onclick="address_city()">南京市</li>
									<li>无锡市</li>
									<li>徐州市</li>
									<li>常州市</li>
									<li>苏州市</li>
									<li>南通市</li>
									<li>连云港市</li>
									<li>连云港市</li>
								</ul>
							</nav>
						</div>
					</div>
					<div id="address_county">
						<div class="shop_index_position_provice_city_county">
							<nav>
								<ul >
									<li onclick="address_county()">连云区</li>
									<li>新浦区</li>
									<li>海州区</li>
									<li>赣榆县</li>
									<li>东海区</li>
									<li>灌云县</li>
									<li>灌南县</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="contener">
	<div>
		<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
			<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
				<img ng-src="{{slide.image}}" style="width:100%;margin:auto;">
			</div>
	</div>
	</div>
	<div class="line_02"><span>附近店铺</span></div>
	<div class="index_main_content">
		<table class="shop_index_main_content" infinite-scroll='shops.nextPage()' infinite-scroll-disabled='shops.busy' infinite-scroll-distance='1' >
			<tr ng-repeat="item in shops.items" ui-sref="main.shop_detail({shop_id:item.id})">
				<td class="shop_index_main_content_img">
					<!--<img class="img1" src="{{api_uri}}/upload/logo/{{item.logo}}">-->
					<!--<img class="img2" src="/assets/images/home_icon_{{item.percent}}series.png"/>-->
				</td>
				<td class="shop_index_main_content_td">
					<div class="index_shop_info">
						<div class="shop_index_main_content_five"></div>
						<div class="shop_index_main_content_one">{{item.shop_name}}</div>
						<div class="shop_index_main_content_four">{{item.juli}}km</div>
						<div class="shop_index_main_content_two">{{item.desc}}</div>
						<div class="shop_index_main_content_three"> 地址：{{item.address}}</div>
					</div>
				</td>
			</tr>

		</table>
		<div class="home_shop_nomore" ng-show='shops.end'>-暂无更多店铺-</div>
	</div>
</div>

<script>
$.getJSON('http://sky.jiangsuwxw.com/apiWeixin/buildWxData',function(data){
	wx.config({
		debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		appId: data.wxappId, // 必填，公众号的唯一标识
		timestamp: data.wxtimestamp, // 必填，生成签名的时间戳
		nonceStr: data.wxnonceStr, // 必填，生成签名的随机串
		signature: data.wxsignature,// 必填，签名，见附录1
		jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
	});
});

wx.ready(function() {
	wx.getLocation({
    type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
    success: function (res) {
    	var element = angular.element(document.getElementById("ohapp"));
		var $scope = element.scope();
		$scope.$$childTail.shops.lat = res.latitude;
		$scope.$$childTail.shops.lng = res.longitude;
		$scope.$apply();
		console.log('1')
		$scope.$$childTail.getIndex();
    }
});
})


</script>