
<link rel="stylesheet" href="/assets/css/index.css">
	<header>
		<select name="address" id="">
			<option value="">嘉定区</option>
		</select>
		<div class="soso">
			<input type="text" placeholder="输入商家/商品/商圈关键字">
			<img src="" alt="">
		</div>
	</header>
	<nav>
		<a href="">
			<div>
				<img src="images/restaurants.png" alt="餐饮饭店">
				<span>餐饮饭店</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="images/img_gv_jiudianzhusu.png" alt="酒店住宿">
				<span>酒店住宿</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="images/img_gv_shuiguoshengxian.png" alt="水果生鲜">
				<span>水果生鲜</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="images/img_gv_meirongmeifa.png" alt="美容美发">
				<span>美容美发</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="images/img_gv_jianshenyule.png" alt="健身娱乐">
				<span>健身娱乐</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="images/img_gv_bianlichaoshi.png" alt="便利超市">
				<span>便利超市</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="images/Maternal-and-child-supplies.png" alt="母婴商店">
				<span>母婴商店</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="images/img_gv_yiliaojiankang.png" alt="医疗健康">
				<span>医疗健康</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="images/img_gv_jifenshangcheng.png" alt="积分商城">
				<span>积分商城</span>
			</div>
		</a>
		<a href="">
			<div>
				<img src="images/img_gv_tuangouyouhui.png" alt="团购优惠">
				<span>团购优惠</span>
			</div>
		</a>
	</nav>
