<link rel="stylesheet" href="/assets/css/listorders.css">
<div class="body_all">
  <div class="register_one_header">
       <span class="register_header_title">我的订单</span>
        <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
  </div>
  <div class="sky_list_orders_content_one">
        <span class="am-icon-list-ul">&nbsp;订单列表</span>
        <span class="sky_list_orders_content_price">&nbsp;总营业额：<span>100</span></span>
  </div>
 <div>
    <div class="sky_list_orders_content_two">
        <span class="sky_list_orders_content_two_shoptitle">爆米花咖啡馆（虹桥）</span>
        <span class="sky_list_orders_content_two_shoptime">&nbsp;2016-10-21&nbsp;14:35</span>
    </div>
    <div class="sky_list_orders_content_three">
        <div>地址：虹桥路1744号二楼</div>
        <div>电话：15850293624</div>
    </div>
    <div class="sky_list_orders_content_four">
        <div>实付：<span class="sky_list_orders_content_four_price">￥1280</span></div>
        <div>付款时间：<span class="sky_list_orders_content_four_time">2016-10-21 14:35</span></div>
        <div class="sky_list_orders_content_four_pending">审核中</div>
    </div>
    <div class="sky_list_orders_content_five">
        <p>
            <span>店铺评价</span>
            <i><img src="../../assets/images/productdetails_star_icon.png"></i>
            <i><img src="../../assets/images/productdetails_star_icon.png"></i>
            <i><img src="../../assets/images/productdetails_halfstar_icon.png"></i>
            <i><img src="../../assets/images/productdetails_graystar_icon.png"></i>
            <i><img src="../../assets/images/productdetails_graystar_icon.png"></i>
            <a data-am-collapse="{parent: '#collapase-nav-1', target: '#user-nav'}">
                <span class="sky_list_orders_content_assess">我要评价&nbsp;<span class="am-icon-sort-desc"></span></span>
            </a>
        </p>
    </div>
</div>
 <div>
        <div class="sky_list_orders_content_two">
            <span class="sky_list_orders_content_two_shoptitle">爆米花咖啡馆（虹桥）</span>
            <span class="sky_list_orders_content_two_shoptime">&nbsp;2016-10-21&nbsp;14:35</span>
        </div>
        <div class="sky_list_orders_content_three">
            <div>地址：虹桥路1744号二楼</div>
            <div>电话：15850293624</div>
        </div>
        <div class="sky_list_orders_content_four">
            <div>实付：<span class="sky_list_orders_content_four_price">￥1280</span></div>
            <div>付款时间：<span class="sky_list_orders_content_four_time">2016-10-21 14:35</span></div>
            <div class="sky_list_orders_content_four_pending">审核中</div>
        </div>
        <div class="sky_list_orders_content_five">
            <p>
                <span>店铺评价</span>
                <i><img src="../../assets/images/productdetails_star_icon.png"></i>
                <i><img src="../../assets/images/productdetails_star_icon.png"></i>
                <i><img src="../../assets/images/productdetails_halfstar_icon.png"></i>
                <i><img src="../../assets/images/productdetails_graystar_icon.png"></i>
                <i><img src="../../assets/images/productdetails_graystar_icon.png"></i>
                <a data-am-collapse="{parent: '#collapase-nav-1', target: '#user-nav'}">
                    <span class="sky_list_orders_content_assess">我要评价&nbsp;<span class="am-icon-sort-desc"></span></span>
                </a>
            </p>
        </div>
    </div>
 <div>
        <div class="sky_list_orders_content_two">
            <span class="sky_list_orders_content_two_shoptitle">爆米花咖啡馆（虹桥）</span>
            <span class="sky_list_orders_content_two_shoptime">&nbsp;2016-10-21&nbsp;14:35</span>
        </div>
        <div class="sky_list_orders_content_three">
            <div>地址：虹桥路1744号二楼</div>
            <div>电话：15850293624</div>
        </div>
        <div class="sky_list_orders_content_four">
            <div>实付：<span class="sky_list_orders_content_four_price">￥1280</span></div>
            <div>付款时间：<span class="sky_list_orders_content_four_time">2016-10-21 14:35</span></div>
            <div class="sky_list_orders_content_four_pending">审核中</div>
        </div>
        <div class="sky_list_orders_content_five">
            <p>
                <span>店铺评价</span>
                <i><img src="../../assets/images/productdetails_star_icon.png"></i>
                <i><img src="../../assets/images/productdetails_star_icon.png"></i>
                <i><img src="../../assets/images/productdetails_halfstar_icon.png"></i>
                <i><img src="../../assets/images/productdetails_graystar_icon.png"></i>
                <i><img src="../../assets/images/productdetails_graystar_icon.png"></i>
                <a data-am-collapse="{parent: '#collapase-nav-1', target: '#user-nav'}">
                    <span class="sky_list_orders_content_assess">我要评价&nbsp;<span class="am-icon-sort-desc"></span></span>
                </a>
            </p>
        </div>
    </div>
     <!--<div class="am-collapse admin-sidebar-sub sky_list_orders_content_six" id="user-nav">-->
        <!--<div class="sky_list_orders_content_six_username">我的用户名</div>-->
        <!--<div>-->
           <!--<p>-->
              <!--<i><img src="../../assets/images/productdetails_star_icon.png"></i>-->
              <!--<i><img src="../../assets/images/productdetails_star_icon.png"></i>-->
              <!--<i><img src="../../assets/images/productdetails_halfstar_icon.png"></i>-->
              <!--<i><img src="../../assets/images/productdetails_graystar_icon.png"></i>-->
              <!--<i><img src="../../assets/images/productdetails_graystar_icon.png"></i>-->
              <!--<span class="sky_list_orders_content_six_usertime">2016-10-21</span>-->
           <!--</p>-->
        <!--</div>-->
            <!--&lt;!&ndash;<div class="sky_list_orders_content_six_userassess">&ndash;&gt;-->
                <!--&lt;!&ndash;<p>在这家店吃的生日餐真的很棒，吃的饱饱的，环境和菜品都真的很棒！</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="sky_list_orders_content_six_userimg">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="../../assets/images/shop.jpg">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="../../assets/images/shop.jpg">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="../../assets/images/shop.jpg">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="../../assets/images/shop.jpg">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
</div>