<body class="body_all">
<header class="am-topbar am-topbar-inverse am-topbar-fixed-top register_one_header">
    <span class="register_header_title">我的订单</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</header>
<section>
    <div class="sky_list_orders_content_one">
        <span class="am-icon-list-ul">&nbsp;订单列表</span>
        <span class="sky_list_orders_content_price">&nbsp;总营业额：<span>{{($user_info.total|default:0)/100}}</span></span>
    </div>
    <div>
        <div class="sky_list_orders_content_two">
            <span class="sky_list_orders_content_two_shoptitle">爆米花咖啡馆（虹桥）</span>
            <span class="sky_list_orders_content_two_shoptime">&nbsp;2016-10-21&nbsp;14:35</span>
        </div>
        <div class="sky_list_orders_content_three">
            <div>地址：虹桥路1744号二楼</div>
            <div>电话：15850293624</div>
        </div>
        <div class="sky_list_orders_content_four">
            <div>实付：<span class="sky_list_orders_content_four_price">￥1280</span></div>
            <div>付款时间：<span class="sky_list_orders_content_four_time">2016-10-21 14:35</span></div>
            <div class="sky_list_orders_content_four_pending">审核中</div>
        </div>
        <div class="sky_list_orders_content_five">
            <p>
                <span>店铺评价</span>
                <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                <i><img src="../../statics/images/productdetails_halfstar_icon.png"></i>
                <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                <a data-am-collapse="{parent: '#collapase-nav-1', target: '#user-nav'}">
                    <span class="sky_list_orders_content_assess">我要评价&nbsp;<span class="am-icon-sort-desc"></span></span>
                </a>
            </p>
        </div>
        <div class="am-collapse admin-sidebar-sub sky_list_orders_content_six" id="user-nav">
            <div class="sky_list_orders_content_six_username">我的用户名</div>
            <div>
                <p>
                    <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_halfstar_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                    <span class="sky_list_orders_content_six_usertime">2016-10-21</span>
                </p>
            </div>
            <div class="sky_list_orders_content_six_userassess">
                <p>在这家店吃的生日餐真的很棒，吃的饱饱的，环境和菜品都真的很棒！</p>
            </div>
            <div class="sky_list_orders_content_six_userimg">
                <img src="../../statics/images/shop.jpg">
                <img src="../../statics/images/shop.jpg">
                <img src="../../statics/images/shop.jpg">
                <img src="../../statics/images/shop.jpg">
            </div>
        </div>
    </div>
    <div>
        <div class="sky_list_orders_content_two">
            <span class="sky_list_orders_content_two_shoptitle">爆米花咖啡馆（虹桥）</span>
            <span class="sky_list_orders_content_two_shoptime">&nbsp;2016-10-21&nbsp;14:35</span>
        </div>
        <div class="sky_list_orders_content_three">
            <div>地址：虹桥路1744号二楼</div>
            <div>电话：15850293624</div>
        </div>
        <div class="sky_list_orders_content_four">
            <div>实付：<span class="sky_list_orders_content_four_price">￥1280</span></div>
            <div>付款时间：<span class="sky_list_orders_content_four_time">2016-10-21 14:35</span></div>
            <div class="sky_list_orders_content_four_pending">审核中</div>
        </div>
        <div class="sky_list_orders_content_five">
            <p>
                <span>店铺评价</span>
                <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                <i><img src="../../statics/images/productdetails_halfstar_icon.png"></i>
                <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                <a data-am-collapse="{parent: '#collapase-nav-1', target: '#user-nav_1'}">
                    <span class="sky_list_orders_content_assess">我要评价&nbsp;<span class="am-icon-sort-desc"></span></span>
                </a>
            </p>
        </div>
        <div class="am-collapse admin-sidebar-sub sky_list_orders_content_six" id="user-nav_1">
            <div class="sky_list_orders_content_six_username">我的用户名</div>
            <div>
                <p>
                    <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_halfstar_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                    <span class="sky_list_orders_content_six_usertime">2016-10-21</span>
                </p>
            </div>
            <div class="sky_list_orders_content_six_userassess">
                <p>在这家店吃的生日餐真的很棒，吃的饱饱的，环境和菜品都真的很棒！</p>
            </div>
            <div class="sky_list_orders_content_six_userimg">
                <img src="../../statics/images/shop.jpg">
                <img src="../../statics/images/shop.jpg">
                <img src="../../statics/images/shop.jpg">
                <img src="../../statics/images/shop.jpg">
            </div>
        </div>
    </div>
    <div>
        <div class="sky_list_orders_content_two">
            <span class="sky_list_orders_content_two_shoptitle">爆米花咖啡馆（虹桥）</span>
            <span class="sky_list_orders_content_two_shoptime">&nbsp;2016-10-21&nbsp;14:35</span>
        </div>
        <div class="sky_list_orders_content_three">
            <div>地址：虹桥路1744号二楼</div>
            <div>电话：15850293624</div>
        </div>
        <div class="sky_list_orders_content_four">
            <div>实付：<span class="sky_list_orders_content_four_price">￥1280</span></div>
            <div>付款时间：<span class="sky_list_orders_content_four_time">2016-10-21 14:35</span></div>
            <div class="sky_list_orders_content_four_pending">审核中</div>
        </div>
        <div class="sky_list_orders_content_five">
            <p>
                <span>店铺评价</span>
                <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                <i><img src="../../statics/images/productdetails_halfstar_icon.png"></i>
                <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                <a data-am-collapse="{parent: '#collapase-nav-1', target: '#user-nav_2'}">
                    <span class="sky_list_orders_content_assess">我要评价&nbsp;<span class="am-icon-sort-desc"></span></span>
                </a>
            </p>
        </div>
        <div class="am-collapse admin-sidebar-sub sky_list_orders_content_six" id="user-nav_2">
            <div class="sky_list_orders_content_six_username">我的用户名</div>
            <div>
                <p>
                    <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_star_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_halfstar_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                    <i><img src="../../statics/images/productdetails_graystar_icon.png"></i>
                    <span class="sky_list_orders_content_six_usertime">2016-10-21</span>
                </p>
            </div>
            <div class="sky_list_orders_content_six_userassess">
                <p>在这家店吃的生日餐真的很棒，吃的饱饱的，环境和菜品都真的很棒！</p>
            </div>
            <div class="sky_list_orders_content_six_userimg">
                <img src="../../statics/images/shop.jpg">
                <img src="../../statics/images/shop.jpg">
                <img src="../../statics/images/shop.jpg">
                <img src="../../statics/images/shop.jpg">
            </div>
        </div>
    </div>
</section>
{{include file="../public/footer.html"}}
</body>