<div class="main-container-width" layout="row" layout-wrap ui-view="" ng-cloak></div>
<!--<footer>-->
    <!--<div class="footer">-->
        <!--<table class="footer_tab" width="100%" border="0" cellspacing="0" cellpadding="0">-->
            <!--<tr>-->
                <!--<td id="home">-->
                    <!--<a href="#">-->
                        <!--<img src="/assets/images/home_icon_click.png"><br>-->
                        <!--<span class="footer_span_2" style="color: #1dacf3;">主页</span>-->
                    <!--</a>-->
                <!--</td>-->
                <!--<td id="myorder">-->
                    <!--<a href="#">-->
                        <!--<img src="/assets/images/orders_icon_click.png"><br>-->
                        <!--<span class="footer_span_2" style="color: #1dacf3;">我的订单</span>-->
                    <!--</a>-->
                <!--</td>-->
                <!--<td id="daybase">-->
                    <!--<a href="#">-->
                        <!--<img src="/assets/images/mall_icon_click.png"><br>-->
                        <!--<span class="footer_span_2"  style="color: #1dacf3;">商城</span>-->
                    <!--</a>-->
                <!--</td>-->
                <!--<td id="cheaporder">-->
                    <!--<a href="#">-->
                        <!--<img src="/assets/images/data_icon_click.png"><br>-->
                        <!--<span class="footer_span_2" style="color: #1dacf3;">每日数据</span>-->
                    <!--</a>-->
                <!--</td>-->
                <!--<td id="message">-->
                    <!--<a href="#">-->
                        <!--<img src="/assets/images/personalcenter_icon_click.png"><br>-->
                        <!--<span class="footer_span_2" style="color: #1dacf3;">个人中心</span>-->
                    <!--</a>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
<!--</footer>-->