<div class="main-container-width" layout="row" layout-wrap ui-view="" ng-cloak>

</div>
<footer>
    <div class="footer">
        <table class="footer_tab" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td id="home">
                    <a ui-sref="main.home">
                        <img src="/assets/images/home_icon_click.png"><br>
                        <span class="footer_span_2" style="color: #1dacf3;">主页</span>
                    </a>
                </td>
                <td id="myorder">
                    <a ui-sref="main.list_orders">
                        <img src="/assets/images/orders_icon_click.png"><br>
                        <span class="footer_span_2" style="color: #1dacf3;">我的订单</span>
                    </a>
                </td>
                <td id="daybase">
                    <a ui-sref="main.mall_index">
                        <img src="/assets/images/mall_icon_click.png"><br>
                        <span class="footer_span_2"  style="color: #1dacf3;">商城</span>
                    </a>
                </td>
                <td id="cheaporder">
                    <a ui-sref="main.show_information">
                        <img src="/assets/images/data_icon_click.png"><br>
                        <span class="footer_span_2" style="color: #1dacf3;">每日数据</span>
                    </a>
                </td>
                <td id="message">
                    <a ui-sref="main.user_center">
                        <img src="/assets/images/personalcenter_icon_click.png"><br>
                        <span class="footer_span_2" style="color: #1dacf3;">个人中心</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</footer>

<script>
$.getJSON('http://sky.jiangsuwxw.com/apiWeixin/buildWxData',function(data){
	wx.config({
		debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		appId: data.wxappId, // 必填，公众号的唯一标识
		timestamp: data.wxtimestamp, // 必填，生成签名的时间戳
		nonceStr: data.wxnonceStr, // 必填，生成签名的随机串
		signature: data.wxsignature,// 必填，签名，见附录1
		jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
	});
});

wx.ready(function() {
	wx.getLocation({
    type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
    success: function (res) {
    	var element = angular.element(document.getElementById("ohapp"));
		var $scope = element.scope();
		$scope.$$childTail.shops.lat = res.latitude;
		$scope.$$childTail.shops.lng = res.longitude;
		$scope.$apply();
		$scope.$$childTail.getIndex();
    }
});
})


</script>