<div class="main-container-width" layout="row" layout-wrap ui-view="" ng-cloak>

</div>
<footer>
    <div class="footer">
        <table class="footer_tab" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td ui-sref="main.home" id="home">
                    <img src="/assets/images/home_icon_click.png"><br>
                    <span class="footer_span_2" style="color: #1dacf3;">主页</span>
                </td>
                <td ui-sref="main.list_orders" id="myorder">
                    <img src="/assets/images/orders_icon_click.png"><br>
                    <span class="footer_span_2" style="color: #1dacf3;">我的订单</span>
                </td>
                <td ui-sref="main.mall_index" id="daybase">
                    <img src="/assets/images/mall_icon_click.png"><br>
                    <span class="footer_span_2"  style="color: #1dacf3;">商城</span>
                </td>
                <td ui-sref="main.show_information" id="cheaporder">
                   <img src="/assets/images/data_icon_click.png"><br>
                   <span class="footer_span_2" style="color: #1dacf3;">每日数据</span>
                </td>
                <td ui-sref="main.user_center" id="message">
                    <img src="/assets/images/personalcenter_icon_click.png"><br>
                    <span class="footer_span_2" style="color: #1dacf3;">个人中心</span>
                </td>
            </tr>
        </table>
    </div>
</footer>

<script>

</script>

