<link rel="stylesheet" href="/assets/css/merchantssettled.css">
<link rel="stylesheet" href="/assets/css/informationrevise.css">
<style>
    #edit_pwd_form{
        margin-top: 130px;
    }
    .error{
        border: 1px solid red;
    }
</style>
<div class="am-popup-hd">
    <h4 class="am-popup-title">修改密码 <span style="float: right;"><img ui-sref="information_revise" src="/assets/images/mall_icon_remove.png"></span></h4>
</div>
<div class="am-popup-bd information_revise_layer">
    <div class="am-g">
        <form id="edit_pwd_form"  name="signUpForm">
            <div class="am-form-group am-form-icon">
                <i class="am-icon-lock" style="margin-left: 2%;"></i>
                <input type="password" id="pwd_pass"  name="password"
                       ng-model="password"
                       ng-class="{'error':signUpForm.password.$invalid && signUpForm.password.$touched}"
                       ng-minlength="6"
                       maxlength="12"
                       required
                       class="am-form-field am-form-mobile"
                       placeholder="请输入您的旧密码" />
            </div>
            <div class="am-form-group am-form-icon">
                 <i class="am-icon-lock" style="margin-left: 2%;"></i>
                  <input type="password" id="pwd_new_one"  name="new_password"
                         ng-model="new_password"
                         ng-class="{'error':signUpForm.new_password.$invalid && signUpForm.new_password.$touched}"
                         ng-minlength="6"
                         ng-maxlength="12"
                         required
                         class="am-form-field am-form-mobile"
                         placeholder="请输入新密码"/>
            </div>
            <div class="am-form-group am-form-icon">
                <i class="am-icon-lock" style="margin-left: 2%;"></i>
                <input type="password" id="pwd_new_two"  name="new_password2"
                       ng-model="new_password2"
                       ng-class="{'error':signUpForm.new_password2.$invalid && signUpForm.new_password2.$touched}"
                       ng-minlength="6"
                       ng-maxlength="12"
                       required
                       class="am-form-field am-form-mobile"
                       placeholder="请确认新密码"/>
            </div>
            <button id="edit_pwd_btn" type="button" class="am-btn am-btn-secondary am-btn-default am-btn-block am-btn-next" ng-disabled="signUpForm.$invalid">修改</button>
        </form>
    </div>
</div>