<link rel="stylesheet" href="/assets/css/moneyloglist.css">
    <div class="register_one_header">
        <span class="register_header_title">提现日志</span>
        <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
    </div>
<div class="sky_my_income">
    <table class="table1" border="0">
        <tr>
            <td ui-sref="main.withdraw_list" class="td1" id="money_record">资金日志</td>
            <td ui-sref="main.money_log_list" class="td1" id="cash_record">提现日志</td>
            <td ui-sref="main.withdraw" class="td1" id="application_record">申请提现</td>
        </tr>
    </table>
    <table class="table2" border="0">
        <tr>
            <td class="td2 title">金额变化</td>
            <td class="td2 title">日期</td>
            <td class="td2 title">详情</td>
        </tr>
        <tr>
            <td class="td2">+2000</td>
            <td class="td2" style="width: 40%;">2016-10-10 12.00</td>
            <td ng-click="testModals($event)" class="td2"  style="color: #00a0e9;">查看详情</td>
        </tr>
        <tr>
            <td class="td2">+2000</td>
            <td class="td2" style="width: 40%;">2016-10-10 12.00</td>
            <td class="td2" style="color: #00a0e9;">查看详情</td>
        </tr>
        <tr>
            <td class="td2">+2000</td>
            <td class="td2" style="width: 40%;">2016-10-10 12.00</td>
            <td class="td2" style="color: #00a0e9;">查看详情</td>
        </tr>
    </table>
    <p id="is_end">已到最后一页</p>
</div>