<link rel="stylesheet" href="/assets/css/myaddorders.css">
<div class="register_one_header">
    <span class="register_header_title">添加订单</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="my_add_orders_all">
    <form name="signUpForm">
        <div class="am-form-group am-form-icon merchants_settled_information">
            <i class="am-icon-mobile-phone" style="font-size: 20px;"></i>
            <input id="merchants_settled_information_input_1" type="number" name="shop_phone"
                   ng-model="shop_phone"
                   ng-class="{'error':signUpForm.shop_phone.$invalid && signUpForm.shop_phone.$touched}"
                   minlength="11"
                   maxlength="11"
                   required
                   class="am-form-field user_add_phone merchants_settled_information_input"
                   placeholder="请输入您的手机号/ID" />
        </div>
        <div class="am-form-group am-form-icon merchants_settled_information">
            <i class="am-icon-user"></i>
            <input id="merchants_settled_information_input_2" type="text" name="user_name"
                   ng-model="user_name"
                   ng-class="{'error':signUpForm.user_name.$invalid && signUpForm.user_name.$touched}"
                   required
                   class="am-form-field user_add_phone merchants_settled_information_input"
                   placeholder="请输入您的姓名"/>
        </div>
        <div class="am-form-group am-form-icon merchants_settled_information">
            <i class="am-icon-rmb"></i>
            <input id="merchants_settled_information_input_3" type="text" name="add_money"
                   ng-model="add_money"
                   ng-class="{'error':signUpForm.add_money.$invalid && signUpForm.add_money.$touched}"
                   required
                   class="am-form-field user_add_phone merchants_settled_information_input"
                   placeholder="请输入金额"/>
        </div>
        <div class="am-form-group am-form-icon merchants_settled_information">
           <button class="am-btn am-btn-secondary am-btn-default" ng-disabled="signUpForm.$invalid">添加</button><button ui-sref="main.shop_order_manage">取消</button>
        </div>

    </form>
</div>