<link rel="stylesheet" href="/assets/css/myshoporder.css">
<div class="register_one_header">
    <span class="register_header_title">商城订单</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="sky_my_income">
    <div class="main">
        <div class="am-g">
            <div class="am-u-sm-8"><img src="/assets/images/mall_icon_shop@3x.png">&nbsp;沃乐玩具乐器专营店</div>
            <div class="am-u-sm-4">等待付款</div>
        </div>
        <div class="row-two">
            <table class="main_content" border="0">
                <tr>
                    <td class="main_content_img">
                        <img src="/assets/images/shop.jpg" />
                    </td>
                    <td class="main_content_td" >
                        <div>
                            <div class="main_content_one" >沃诺 圣诞装饰品圣诞花环挂件圣诞花环挂件</div>
                            <div class="main_content_two">大红色 40cm</div>
                            <div class="main_content_three">共3件商品 需付款：￥117.00元</div>
                            <div class="clear"></div>
                            <div class="main_content_four"><a href="*">去支付</a></div>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div class="jiange"></div>


</div>