<link rel="stylesheet" href="/assets/css/myteam.css">
<div class="register_one_header">
    <span class="register_header_title">我的团队</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="sky_my_income">
    <table class="table1" border="0">
        <tr>
            <td class="td1" id="my_vip">
                <a ui-sref="main.my_team">我的会员</a>
            </td>
            <td class="td1" id="my_shop">
                <a ui-sref="main.my_team_1">直属商家</a>
            </td>
            <td class="td2" id="my_XXX">
                <a ui-sref="main.my_team_2">二级商家</a>
            </td>
        </tr>
    </table>
    <table class="table2" border="0" style="">
        <thead>
        <tr class="my_team_title">
            <td class="td3">商家名称</td>
            <td class="td3">营业额</td>
            <td class="td3">类别</td>
            <td class="td3">推荐者</td>
        </tr>
        </thead>
        <tbody infinite-scroll='myshoptwo.nextPage()' infinite-scroll-disabled='myshoptwo.busy' infinite-scroll-distance='1'>
        <tr ng-repeat="item in myshoptwo.items"  class="my_team_title_content">
            <td class="td3">
                <div>{{item.shop_name}}</div>
            </td>
            <td class="td3">{{item.total}}</td>
            <td class="td3">{{item.name}}</td>
            <td class="td3">{{item.rel_name}}</td>
        </tr>
        </tbody>
    </table>
    <p ng-show='myshopone.end' id="is_end">已到最后一页</p>
</div>