<link rel="stylesheet" href="/assets/css/myincome.css">
<div class="register_one_header">
    <span class="register_header_title">我的收入</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="sky_my_income">
    <table class="table1" border="0">
        <tr>
            <td class="td1" style="width: 20%;">金额</td>
            <td class="td1" style="width: 42%;">来源</td>
            <td class="td1" style="width: 38%;">日期</td>
        </tr>
        <tr>
            <td class="td1">10000元</td>
            <td class="td1">来源来源来源来源来源来源来源</td>
            <td class="td1">2016-10-10 12:00</td>
        </tr>
    </table>
    <p id="is_end">已到最后一页</p>
    <!--<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">-->
        <!--<div class="am-modal-dialog">-->
            <!--<div class="am-modal-hd">正在加载...</div>-->
            <!--<div class="am-modal-bd">-->
                <!--<span class="am-icon-spinner am-icon-spin"></span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>