<link rel="stylesheet" href="/assets/css/myincome.css">
<div class="register_one_header">
    <span class="register_header_title">我的收入</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="sky_my_income">
    <table class="table1" border="0">
        <thead>
        <tr >
            <td class="td1 title" style="width: 20%;">金额</td>
            <td class="td1 title" style="width: 42%;">来源</td>
            <td class="td1 title" style="width: 38%;">日期</td>
        </tr>
        </thead>
        <tbody infinite-scroll='myincome.nextPage()' infinite-scroll-disabled='myincome.busy' infinite-scroll-distance='1'>
        <tr ng-repeat="item in myincome.items">
            <td class="td1">{{item.money/100}}</td>
            <td class="td1">{{item.remark}}</td>
            <td class="td1">{{item.cdate}}</td>
        </tr>
        </tbody>
    </table>
    <p  ng-show='myincome.end' id="is_end">已到最后一页</p>
    <!--<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">-->
        <!--<div class="am-modal-dialog">-->
            <!--<div class="am-modal-hd">正在加载...</div>-->
            <!--<div class="am-modal-bd">-->
                <!--<span class="am-icon-spinner am-icon-spin"></span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>