<link rel="stylesheet" href="/assets/css/ordercart.css">
<div class="register_one_header">
    <span class="register_header_title">购物车</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
    <div class="order_cart_div_num">
       <div class="order_cart_div_num_numall">
            <div class="order_cart_div_num_1">
                <img src="/assets/images/shop.jpg">
            </div>
            <div class="order_cart_div_num_2">
                <div><span class="order_cart_div_num_2_name">爆米花 (虹口店)</span></div>
                <div><span class="order_cart_div_num_2_price">单价：<span class="order_cart_div_num_2_price1"><span class="am-icon-rmb"></span> 6</span>&nbsp;&nbsp;&nbsp;合计：<span class="order_cart_div_num_2_price1">6元</span></span></div>
                <div class="order_cart_div_num_2_count">
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_minus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail">
                        <span>123</span>
                    </span>
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_plus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail_del"><img src="/assets/images/shoppingcart_delete_button.png"></span>
                </div>
            </div>
       </div>
        <div class="order_cart_div_num_numall">
            <div class="order_cart_div_num_1">
                <img src="/assets/images/shop.jpg">
            </div>
            <div class="order_cart_div_num_2">
                <div><span class="order_cart_div_num_2_name">爆米花 (虹口店)</span></div>
                <div><span class="order_cart_div_num_2_price">单价：<span class="order_cart_div_num_2_price1"><span class="am-icon-rmb"></span> 6</span>&nbsp;&nbsp;&nbsp;合计：<span class="order_cart_div_num_2_price1">6元</span></span></div>
                <div class="order_cart_div_num_2_count">
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_minus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail">
                        <span>123</span>
                    </span>
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_plus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail_del"><img src="/assets/images/shoppingcart_delete_button.png"></span>
                </div>
            </div>
        </div>
        <div class="order_cart_div_num_numall">
            <div class="order_cart_div_num_1">
                <img src="/assets/images/shop.jpg">
            </div>
            <div class="order_cart_div_num_2">
                <div><span class="order_cart_div_num_2_name">爆米花 (虹口店)</span></div>
                <div><span class="order_cart_div_num_2_price">单价：<span class="order_cart_div_num_2_price1"><span class="am-icon-rmb"></span> 6</span>&nbsp;&nbsp;&nbsp;合计：<span class="order_cart_div_num_2_price1">6元</span></span></div>
                <div class="order_cart_div_num_2_count">
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_minus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail">
                        <span>123</span>
                    </span>
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_plus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail_del"><img src="/assets/images/shoppingcart_delete_button.png"></span>
                </div>
            </div>
        </div>
        <div class="order_cart_div_num_numall">
            <div class="order_cart_div_num_1">
                <img src="/assets/images/shop.jpg">
            </div>
            <div class="order_cart_div_num_2">
                <div><span class="order_cart_div_num_2_name">爆米花 (虹口店)</span></div>
                <div><span class="order_cart_div_num_2_price">单价：<span class="order_cart_div_num_2_price1"><span class="am-icon-rmb"></span> 6</span>&nbsp;&nbsp;&nbsp;合计：<span class="order_cart_div_num_2_price1">6元</span></span></div>
                <div class="order_cart_div_num_2_count">
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_minus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail">
                        <span>123</span>
                    </span>
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_plus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail_del"><img src="/assets/images/shoppingcart_delete_button.png"></span>
                </div>
            </div>
        </div>
        <div class="order_cart_div_num_numall">
            <div class="order_cart_div_num_1">
                <img src="/assets/images/shop.jpg">
            </div>
            <div class="order_cart_div_num_2">
                <div><span class="order_cart_div_num_2_name">爆米花 (虹口店)</span></div>
                <div><span class="order_cart_div_num_2_price">单价：<span class="order_cart_div_num_2_price1"><span class="am-icon-rmb"></span> 6</span>&nbsp;&nbsp;&nbsp;合计：<span class="order_cart_div_num_2_price1">6元</span></span></div>
                <div class="order_cart_div_num_2_count">
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_minus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail">
                        <span>123</span>
                    </span>
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_plus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail_del"><img src="/assets/images/shoppingcart_delete_button.png"></span>
                </div>
            </div>
        </div>
        <div class="order_cart_div_num_numall">
            <div class="order_cart_div_num_1">
                <img src="/assets/images/shop.jpg">
            </div>
            <div class="order_cart_div_num_2">
                <div><span class="order_cart_div_num_2_name">爆米花 (虹口店)</span></div>
                <div><span class="order_cart_div_num_2_price">单价：<span class="order_cart_div_num_2_price1"><span class="am-icon-rmb"></span> 6</span>&nbsp;&nbsp;&nbsp;合计：<span class="order_cart_div_num_2_price1">6元</span></span></div>
                <div class="order_cart_div_num_2_count">
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_minus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail">
                        <span>123</span>
                    </span>
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_plus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail_del"><img src="/assets/images/shoppingcart_delete_button.png"></span>
                </div>
            </div>
        </div>
        <div class="order_cart_div_num_numall">
            <div class="order_cart_div_num_1">
                <img src="/assets/images/shop.jpg">
            </div>
            <div class="order_cart_div_num_2">
                <div><span class="order_cart_div_num_2_name">爆米花 (虹口店)</span></div>
                <div><span class="order_cart_div_num_2_price">单价：<span class="order_cart_div_num_2_price1"><span class="am-icon-rmb"></span> 6</span>&nbsp;&nbsp;&nbsp;合计：<span class="order_cart_div_num_2_price1">6元</span></span></div>
                <div class="order_cart_div_num_2_count">
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_minus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail">
                        <span>123</span>
                    </span>
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_plus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail_del"><img src="/assets/images/shoppingcart_delete_button.png"></span>
                </div>
            </div>
        </div>
        <div class="order_cart_div_num_numall">
            <div class="order_cart_div_num_1">
                <img src="/assets/images/shop.jpg">
            </div>
            <div class="order_cart_div_num_2">
                <div><span class="order_cart_div_num_2_name">爆米花 (虹口店)</span></div>
                <div><span class="order_cart_div_num_2_price">单价：<span class="order_cart_div_num_2_price1"><span class="am-icon-rmb"></span> 6</span>&nbsp;&nbsp;&nbsp;合计：<span class="order_cart_div_num_2_price1">6元</span></span></div>
                <div class="order_cart_div_num_2_count">
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_minus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail">
                        <span>123</span>
                    </span>
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_plus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail_del"><img src="/assets/images/shoppingcart_delete_button.png"></span>
                </div>
            </div>
        </div>
        <div class="order_cart_div_num_numall">
            <div class="order_cart_div_num_1">
                <img src="/assets/images/shop.jpg">
            </div>
            <div class="order_cart_div_num_2">
                <div><span class="order_cart_div_num_2_name">爆米花 (虹口店)</span></div>
                <div><span class="order_cart_div_num_2_price">单价：<span class="order_cart_div_num_2_price1"><span class="am-icon-rmb"></span> 6</span>&nbsp;&nbsp;&nbsp;合计：<span class="order_cart_div_num_2_price1">6元</span></span></div>
                <div class="order_cart_div_num_2_count">
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_minus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail">
                        <span>123</span>
                    </span>
                    <span class="order_cart_div_num_2_count_count_detail"><img src="/assets/images/shoppingcart_plus_button.png"></span>
                    <span class="order_cart_div_num_2_count_count_detail_del"><img src="/assets/images/shoppingcart_delete_button.png"></span>
                </div>
            </div>
        </div>


    </div>
    <div class="footer">
        <span class="span1">
            <img src="/assets/images/shoppingcart_icon@2x.png" />
        </span>
        <span class="am-icon-rmb span2">6</span>
        <span class="span3">
            <button>结算</button>
        </span>
    </div>