<link rel="stylesheet" href="/assets/css/productreviews.css">
<div class="register_one_header">
    <span class="register_header_title">商品点评</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="sky_my_income">
    <div class="product_reviews_line_one">
         商城 “爆米花（虹口店）” 的点评
    </div>
    <div class="confirmation_order_goods_information_all">
         <div class="confirmation_order_goods_information_img"><img src="/assets/images/shop.jpg"></div>
         <div class="confirmation_order_goods_information_all_name">沃若 圣诞装饰品圣诞花环挂件诞圣诞环挂件诞</div>
         <div class="confirmation_order_goods_information_all_size">实付金额：<span class="am-icon-rmb">300元</span></div>
         <div class="confirmation_order_goods_information_all_price">使用积分数：<span>30000</span></div>
    </div>
    <div class="product_reviews_line_two">
          <span style="font-size: 16px;margin-top:-10px;">评价：</span><span style="font-size: 16px;color: #feb334;" uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
    </div>
    <div class="product_reviews_line_three">
        <div class="merchants_settled_shop_information">
            <textarea id="shop_desc" maxlength="100" placeholder="还记得这家店吗？写点评记录生活，分享体验" name='desc' class="am-form-field"></textarea>
        </div>
    </div>
    <div class="product_reviews_line_four">
        <div class="upload_images_title">上传图片：</div>
        <div class="upload_images_btn">上传图片</div>
        <div class="upload_images_img"><img src="/assets/images/shop.jpg"></div>
    </div>
    <div class="product_reviews_line_five" style="margin-top: 20px;">提交评论</div>
</div>