<link rel="stylesheet" href="/assets/css/productdetail.css">
<div class="register_one_header">
    <span class="register_header_title">商品详情</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="sky_my_income">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}" style="width:100%;margin:auto;">
         </div>
    </div>
    <div class="product_detail_1">
        <h7 class="product_detail_1_title">洪餐馆铂金卡（虹口店）</h7>
        <div class="product_detail_1_price">￥300 <span><img src="/assets/images/count.jpg"/></span></div>
        <div class="product_detail_1_information">原价:3000 月售： 7笔 库存：9887个</div>
    </div>
    <div class="product_detail_2">
        <span class="product_detail_2_confirm"><span class="am-icon-check-circle-o"></span> 认证商家</span>
        <span><span class="am-icon-check-circle-o commit"></span> 正品保证</span>
    </div>
    <div class="product_detail_3"></div>
    <div class="am-list-item-text product_detail_4">
        <p>
            <i><img src="/assets/images/productdetails_star_icon.png"></i>
            <i><img src="/assets/images/productdetails_star_icon.png"></i>
            <i><img src="/assets/images/productdetails_halfstar_icon.png"></i>
            <i><img src="/assets/images/productdetails_graystar_icon.png"></i>
            <i><img src="/assets/images/productdetails_graystar_icon.png"></i>
        </p>
    </div>
    <div class="product_detail_5"></div>
    <div class="product_detail_6">
        <span>购买须知</span>
    </div>
    <div class="product_detail_6">
        <span  class="prduct_detail_6_intro product_detail_describe">有效期2016.6.24-2017.7.34提前一个小时预约</span>
    </div>
    <div class="product_detail_7"></div>
    <div class="product_detail_6">
        <span>选择商品分类</span>
    </div>
    <div class="product_detail_6">
        <button id="btn1" onclick="btn1()">官方套餐</button><button id="btn2" onclick="btn2()">官方套餐+咖啡</button><button id="btn3" onclick="btn3()">官方套餐+茶</button>
    </div>
    <div class="product_detail_7"></div>
    <div class="product_detail_6">
        <span class="product_pro">商品介绍</span>
    </div>
    <div class="product_detail_6">
        <span class="prduct_detail_6_intro product_detail_describe">提前一个小时预约提前一个小时预约提前一个小时预约提前一个小时预约提前一个小时预约</span>
    </div>
    <div class="product_detail_6">
        <span>用户评价</span>
        <span class="user_discuss">1334人评价</span>
    </div>
    <!--<div class="product_detail_id">ID:123</div>-->
    <div class="product_detail_time">
        <p>
            <i><img src="/assets/images/productdetails_star_icon.png"></i>
            <i><img src="/assets/images/productdetails_star_icon.png"></i>
            <i><img src="/assets/images/productdetails_halfstar_icon.png"></i>
            <i><img src="/assets/images/productdetails_graystar_icon.png"></i>
            <i><img src="/assets/images/productdetails_graystar_icon.png"></i>
            <span style="margin-left: 5px;font-size: 13px;">2016-12-09</span>
        </p>
    </div>
    <div class="product_detail_describe">洪餐馆需要提前一个小时预约洪餐馆需要提前个小时预约洪餐馆需要提前</div>
    <div style="margin-left: 15px;margin-top: 5px;">
        <img src="/assets/images/shop.jpg" style="width: 22%;">
        <img src="/assets/images/shop.jpg" style="width: 22%;">
        <img src="/assets/images/shop.jpg" style="width: 22%;">
        <img src="/assets/images/shop.jpg" style="width: 22%;">
    </div>
</div>
    <div class="footer">
        <table class="footer_tab" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td id="oeder_buy_ed">
                    <div class="product_detail_goods_count">
                        <span>99</span>
                    </div>
                    <span class="footer_span_2">已购</span>
                </td>
                <td id="order_shop">
                    <img src="/assets/images/productdetails_shop_icon.png"><br>
                    <span class="footer_span_2">店铺</span>
                </td>
                <a href="#"><td id="order_add">加入购物车</td></a>
                <a href="#"><td id="oeder_buy_now" style="">立即购买</td></a>
            </tr>
        </table>
    </div>
    <script>
       function btn1() {
           $("#btn1").css("background","#f34e87");
           $("#btn1").css("color","#ffffff");
           $("#btn2").css("background","#e3e3e3");
           $("#btn2").css("color","#000000");
           $("#btn3").css("background","#e3e3e3");
           $("#btn3").css("color","#000000");
       }
       function btn2() {
           $("#btn2").css("background","#f34e87");
           $("#btn2").css("color","#ffffff");
           $("#btn1").css("background","#e3e3e3");
           $("#btn1").css("color","#000000");
           $("#btn3").css("background","#e3e3e3");
           $("#btn3").css("color","#000000");
       }
       function btn3() {
           $("#btn3").css("background","#f34e87");
           $("#btn3").css("color","#ffffff");
           $("#btn1").css("background","#e3e3e3");
           $("#btn1").css("color","#000000");
           $("#btn2").css("background","#e3e3e3");
           $("#btn2").css("color","#000000");
       }
    </script>