<link rel="stylesheet" href="/assets/css/receiveaddressmanage.css">
<div class="register_one_header">
    <span class="register_header_title">收货管理地址</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="sky_receive_address_manage_div_all">
    <div class="row-one">
        <span class="row-one-name">小明</span>
        <span class="row-one-phone">18435119332</span>
        <p class="row-one-address"><i class="am-icon-map-marker"></i> &nbsp;江苏省 苏州市 昆山市 巴城镇学院路美居客4楼405室</p>
    </div>
    <div class="row-two">
        <div class="am-g">
            <div class="am-u-sm-5">
                <img src="/assets/images/mall_icon_default.png" alt="">
                <span id="row-two-choice">默认地址</span>
            </div>
            <div class="am-u-sm-7" style="text-align: center">
                <img src="/assets/images/mall_icon_edit.png" alt="">
                <span>编辑</span>
                <img src="/assets/images/mall_icon_delete.png" alt="">
                <span>删除</span>
            </div>
        </div>
    </div>
    <div class="jiange"></div>
    <div class="row-one">
        <span class="row-one-name">小明</span>
        <span class="row-one-phone">18435119332</span>
        <p class="row-one-address"><i class="am-icon-map-marker"></i> &nbsp;江苏省 苏州市 昆山市 巴城镇学院路美居客4楼405室</p>
    </div>
    <div class="row-two">
        <div class="am-g">
            <div class="am-u-sm-5">
                <img src="/assets/images/mall_icon_choice@3x.png" alt="">
                <span>设为默认</span>
            </div>
            <div class="am-u-sm-7" style="text-align: center">
                <img src="/assets/images/mall_icon_edit@3x.png" alt="">
                <span>编辑</span>
                <img src="/assets/images/mall_icon_delete.png" alt="">
                <span>删除</span>
            </div>
        </div>
    </div>
</div>
<div class="sky_receive_address_manage_btn">
    <a ng-click="testModals($event)"><img src="/assets/images/mall_icon_newlybuild.png"></a>
</div>