<link rel="stylesheet" href="/assets/css/shopdetail.css">
<div class="body_all">
    <header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
        <div class="register_one_header">
            <span class="register_header_title">商家详情</span>
             <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
        </div>
    </header>
    <section style="margin-top:50px;">
        <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
            <ul class="am-slides lunbo_img">
                <li><img src="/statics/images/banner.jpg"/></li>
                <li><img src="/statics/images/banner1.jpg"/></li>
                <li><img src="/statics/images/banner2.jpg" /></li>
            </ul>
        </div>
        <div class="product_detail_1">
            <h7 class="product_detail_1_title">{{shop_detail.shop_name}}</h7>
            <div class="am-list-item-text product_detail_4">
                <p>
                    <i><img src="/assets/images/productdetails_star_icon.png"></i>
                    <i><img src="/assets/images/productdetails_star_icon.png"></i>
                    <i><img src="/assets/images/productdetails_halfstar_icon.png"></i>
                    <i><img src="/assets/images/productdetails_graystar_icon.png"></i>
                    <i><img src="/assets/images/productdetails_graystar_icon.png"></i>
                </p>
            </div>
            <img class="shop_detail_img" src="/assets/images/gohere.png">
        </div>
        <div class="product_detail_2">
            <div class="product_detail_2_confirm">{{shop_detail.address}}</div>
            <img src="/assets/images/order_storedetails_idicon_phone.png">
            <div class="product_detail_2_confirm">{{shop_detail.phone}}</div>
        </div>
        <div class="product_detail_5"></div>
        <div class="product_detail_6">
            <span>购买须知</span>
        </div>
        <div class="product_detail_6">
            <span>有效期2016.6.24-2017.7.34</span>
        </div>
        <div class="product_detail_7"></div>
        <div class="product_detail_6">
            <span class="product_pro">商品介绍</span>
        </div>
        <div class="product_detail_6">
            <span class="prduct_detail_6_intro">{{shop_detail.desc}}</span>
        </div>
        <div class="product_detail_6">
            <span>用户评价</span>
            <span class="user_discuss">1334人评价</span>
        </div>
        <!--<div class="product_detail_id">ID:123</div>-->
        <div class="product_detail_time">
            <p>
                <i><img src="/assets/images/productdetails_star_icon.png"></i>
                <i><img src="/assets/images/productdetails_star_icon.png"></i>
                <i><img src="/assets/images/productdetails_halfstar_icon.png"></i>
                <i><img src="/assets/images/productdetails_graystar_icon.png"></i>
                <i><img src="/assets/images/productdetails_graystar_icon.png"></i>
                <span style="margin-left: 5px;font-size: 13px;">2016-12-09</span>
            </p>
        </div>
        <div class="product_detail_describe">洪餐馆需要提前一个小时预约洪餐馆需要提前个小时预约洪餐馆需要提前</div>
        <div style="margin-left: 15px;margin-top: 5px;">
            <img src="/assets/images/shop.jpg" style="width: 22%;">
            <img src="/assets/images/shop.jpg" style="width: 22%;">
            <img src="/assets/images/shop.jpg" style="width: 22%;">
            <img src="/assets/images/shop.jpg" style="width: 22%;">
        </div>
    </section>
</div>