<link rel="stylesheet" href="/assets/css/ordersubmit.css">
<div class="register_one_header">
    <span class="register_header_title">订单提交</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="sky_my_income">
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" is-open="status.open">
        <uib-accordion-heading>
            <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
        </uib-accordion-heading>
        <div class="status_open_div">
            <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
            <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
            <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
        </div>
        <div class="status_open_div_2">
            <span class="status_open_div_2_delete">详情</span>
        </div>
    </div>
</uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-rmb" style="color: #fd4e87;font-size: 18px;">&nbsp;1208</span><span style="position:absolute;right: 12%;">2016-10-10 14:15:16</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 3px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name"><span><img src="/assets/images/mybusiness_ordersubmission_icons_orders.png"></span>&nbsp;订单数：2</div>
                <div class="status_open_div_phone"><span><img src="/assets/images/mybusiness_ordersubmission_icons_state.png"></span>&nbsp;状态：待提交</div>
                <div class="status_open_div_time"><span><img src="/assets/images/mybusiness_ordersubmission_icons_time.png"></span>&nbsp;时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_delete">详情</span>
            </div>
        </div>
    </uib-accordion>

</div>
