<link rel="stylesheet" href="/assets/css/ordermanage.css">
<div class="sky_my_income">
<div class="register_one_header">
    <span class="register_header_title">订单管理</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
    <div class="sky_list_orders_content_one">
        <span class="am-icon-list-ul">&nbsp;订单列表</span>
        <span class="sky_list_orders_content_price">&nbsp;总营业额：<span>100000000</span></span>
    </div>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>
    <div class="split_line"></div>
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span class="am-icon-user" style="color: #00a3f2;"></span><span>&nbsp;ID:1314</span><span class="am-icon-rmb" style="position:absolute;right: 20%;color: #fd4e87;">&nbsp;1208</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" style="padding-top: 2px;"></i>
            </uib-accordion-heading>
            <div class="status_open_div">
                <div class="status_open_div_name">姓名：马修</div>
                <div class="status_open_div_phone">手机：158502935624</div>
                <div class="status_open_div_time">时间：2016-12-12 14:17:45</div>
            </div>
            <div class="status_open_div_2">
                <span class="status_open_div_2_submit">待提交</span>
                <span class="status_open_div_2_delete">删除</span>
            </div>
        </div>
    </uib-accordion>

    <!--<a ui-sref="order_cart">-->
        <!--<div class="xuanfu_plus">-->
            <!--<img class="xuanfu_icon_search" src="../../assets/images/mybusiness_ordersubmission_icons_search.png">-->
        <!--</div></a>-->

</div>
