<link rel="stylesheet" href="/assets/css/showinformation.css">
<div class="indexBanner">
    <div class="slides">
         <div class="images" style="width: 100%;margin-top: 40px;">
                <div class="show_information_lunbo_header_img">
                   <div class="show_information_lunbo_header_english">love donation data</div>
                   <div class="show_information_lunbo_header_title">爱心捐款数据</div>
                </div>
                <div class="test show_information_card_div_all">
                    <div class="show_information_card_1">
                        <div class="show_information_card_title">待捐款</div>
                        <div class="show_information_card_money">1000</div>
                    </div>
                    <div class="show_information_card_1">
                        <div class="show_information_card_title">上个捐款日捐赠</div>
                        <div class="show_information_card_date">2015-10-10</div>
                        <div class="show_information_card_money">1000</div>
                    </div>
                    <div class="show_information_card_1">
                        <div class="show_information_card_title">累计捐赠</div>
                        <div class="show_information_card_money">10000</div>
                    </div>
                </div>
          </div>
         <div class="images" style="width: 100%;margin-top: 40px;">
              <div class="show_information_lunbo_header_img_shuju2">
                  <div class="show_information_lunbo_header_card_two_user">联盟客户</div>
                  <div class="show_information_lunbo_header_card_two_sundata">向日葵日值</div>
                  <div class="show_information_lunbo_header_card_two_lovetime">2015-10-10</div>
              </div>
              <div class="test show_information_card_div_all">
                   <table class="show_information_card_2" border="0">
                        <tr class="tr1">
                             <td class="td1">
                                  <span class="am-icon-star"></span><br>
                                  <span>6系列</span>
                             </td>
                             <td class="td2">
                                 <span class="sky_show_information_shuju">1234</span>
                                 <img src="/assets/images/zhongzi.png">
                                  <!--<span style="float: left;margin: 0 auto;">/</span>-->
                                 <span style="color: #f7e288;font-size: 20px;">/</span>
                                  <img src="/assets/images/sunflowerlogo.png">
                             </td>
                        </tr>
                   </table>
                  <table class="show_information_card_2" border="0">
                      <tr class="tr1">
                          <td class="td1">
                              <span class="am-icon-star"><span class="am-icon-star"></span></span><br>
                              <span>6系列</span>
                          </td>
                          <td class="td2">
                              <span class="sky_show_information_shuju">1234</span>
                              <img src="/assets/images/zhongzi.png">
                              <span style="color: #f7e288;font-size: 20px;">/</span>
                              <img src="/assets/images/sunflowerlogo.png">
                          </td>
                      </tr>
                  </table>
                  <table class="show_information_card_2" border="0">
                      <tr class="tr1">
                          <td class="td1">
                              <span class="am-icon-star"><span class="am-icon-star"><span class="am-icon-star"></span></span></span><br>
                              <span>24系列</span>
                          </td>
                          <td class="td2">
                              <span class="sky_show_information_shuju">1234</span>
                              <img src="/assets/images/zhongzi.png">
                              <span style="color: #f7e288;font-size: 20px;">/</span>
                              <img src="/assets/images/sunflowerlogo.png">
                          </td>
                      </tr>
                  </table>
              </div>
        </div>
         <div class="images" style="width: 100%;margin-top: 40px;">
            <div class="show_information_lunbo_header_img_shuju2">
                <div class="show_information_lunbo_header_card_two_user">联盟商家</div>
                <div class="show_information_lunbo_header_card_two_sundata">向日葵日值</div>
                <div class="show_information_lunbo_header_card_two_lovetime">2015-10-10</div>
            </div>
            <div class="test show_information_card_div_all">
                <table class="show_information_card_2" border="0">
                    <tr class="tr1">
                        <td class="td1">
                            <span class="am-icon-star"></span><br>
                            <span>6系列</span>
                        </td>
                        <td class="td2">
                            <span class="sky_show_information_shuju">1234</span>
                            <img src="/assets/images/zhongzi.png">
                            <span style="color: #f7e288;font-size: 20px;">/</span>
                            <img src="/assets/images/sunflowerlogo.png">
                        </td>
                    </tr>
                </table>
                <table class="show_information_card_2" border="0">
                    <tr class="tr1">
                        <td class="td1">
                            <span class="am-icon-star"><span class="am-icon-star"></span></span><br>
                            <span>6系列</span>
                        </td>
                        <td class="td2">
                            <span class="sky_show_information_shuju">1234</span>
                            <img src="/assets/images/zhongzi.png">
                            <span style="color: #f7e288;font-size: 20px;">/</span>
                            <img src="/assets/images/sunflowerlogo.png">
                        </td>
                    </tr>
                </table>
                <table class="show_information_card_2" border="0">
                    <tr class="tr1">
                        <td class="td1">
                            <span class="am-icon-star"><span class="am-icon-star"><span class="am-icon-star"></span></span></span><br>
                            <span>24系列</span>
                        </td>
                        <td class="td2">
                            <span class="sky_show_information_shuju">1234</span>
                            <img src="/assets/images/zhongzi.png">
                            <span style="color: #f7e288;font-size: 20px;">/</span>
                            <img src="/assets/images/sunflowerlogo.png">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
         <div class="images" style="width: 100%;margin-top: 40px;">
            <div class="show_information_lunbo_header_img_shuju4">
                <div class="show_information_lunbo_header_card_four_suncity">全国城市向日葵光荣榜</div>
            </div>
            <div class="test show_information_card_div_all">
                <table class="show_information_card_4" border="0">
                    <tr>
                        <td>江苏省-南通市</td>
                        <td>123456.00万元</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td>123456.00万元</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td>123456.00万元</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td>123456.00万元</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td>123456.00万元</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td>123456.00万元</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td>123456.00万元</td>
                    </tr>
                    <tr>
                        <td>江苏省-南通市</td>
                        <td>123456.00万元</td>
                    </tr>
                </table>
            </div>
        </div>
         <div class="images" style="width: 100%;margin-top: 40px;">
            <div class="show_information_lunbo_header_img">
                <div class="show_information_lunbo_header_english">Whole Sunflower</div>
                <div class="show_information_lunbo_header_title">全联盟向日葵</div>
            </div>
            <div class="test show_information_card_div_all">
                <div class="show_information_card_1">
                    <div class="show_information_card_title">联盟消费总额</div>
                    <div class="show_information_card_money">1000</div>
                </div>
                <div class="show_information_card_1">
                    <div class="show_information_card_title">联盟消费特使人数</div>
                    <div class="show_information_card_date">2015-10-10</div>
                    <div class="show_information_card_money">1000</div>
                </div>
                <div class="show_information_card_1">
                    <div class="show_information_card_title">联盟商家</div>
                    <div class="show_information_card_money">10000</div>
                </div>
            </div>
        </div>
         <div class="images" style="width: 100%;margin-top: 40px;">
            <div class="show_information_lunbo_header_img">
                <div class="show_information_lunbo_header_english">Yesterday Data</div>
                <div class="show_information_lunbo_header_title">全联盟昨日消费</div>
            </div>
            <div class="test show_information_card_div_all">
                <div class="show_information_card_1">
                    <div class="show_information_card_title">6系列</div>
                    <div class="show_information_card_money">1000</div>
                </div>
                <div class="show_information_card_1">
                    <div class="show_information_card_title">12系列</div>
                    <div class="show_information_card_date">10</div>
                </div>
                <div class="show_information_card_1">
                    <div class="show_information_card_title">24系列</div>
                    <div class="show_information_card_money">10000</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/js/jquery.slides.min.js"></script>
<script>
    $(function(){
        var WinW = $(window).width();
        if($('.slides .images').size()>1 && WinW>480){
            $('.slides').slidesjs({
                width:1500,
                height:700,
                play: {
                    effect: "slide",
                    interval: 3000,
                    auto: true,
                    swap: true,
                    restartDelay: 2500,
                    pauseOnHover:true
                }
            })
            var w=$('.slides ul').width()/2;
            $('.slides ul').css('margin-left',-w);
        } else if(WinW<481){
            $('.slides').slidesjs({
                width:480,
                height:327,
                play: {
                    effect: "slide",
                    interval: 3000,
                    auto: true,
                    swap: true,
                    restartDelay: 2500,
                    pauseOnHover:true
                }
            })
            var w=$('.slides ul').width()/2;
            $('.slides ul').css('margin-left',-w);
        }
    });
</script>
