<link rel="stylesheet" href="/assets/css/skyregister.css">
	<!--<header class="am-topbar am-topbar-inverse am-topbar-fixed-top register_one_header">-->
		<!--<span class="register_header_title">会员注册</span>-->
		<!--<a ui-sref="signin"><span class="am-icon-chevron-left register_header_back"></span></a>-->
	<!--</header>-->
	<div class="register_one_header">
		<span class="register_header_title">个人中心</span>
		<a ui-sref="signin"><span class="am-icon-chevron-left register_header_back"></span></a>
	</div>
	<div style="margin-top: 40px;">
	<img class="sky_register_logo" src="/assets/images/orderdetails_logo_icon.png"><br>
	<div class="am-u-lg-6 am-u-md-8 am-u-sm-centered"><br>
		<form class="" action="/frontend/register" method="post" name="signUpForm" ng-submit="submitForm()">
			<div class="am-form-group am-form-icon">
				<i class="am-icon-mobile-phone"></i>
				<input style="border-radius: 10px;" type="number" name="mobile"
					ng-model="mobile"
					ng-class="{'error':signUpForm.mobile.$invalid && signUpForm.mobile.$touched}"
					ng-minlength="11"
					ng-maxlength="11"
					required
					class="am-form-field am-form-mobile form-control"
					placeholder="请输入你的手机号(11位)"/>
            </div>
			<div class="get_yzm_all">
				<div class="am-form-group">
					<input type="number"  name="yzm"
						   ng-model="yzm"
						   ng-class="{'error':signUpForm.yzm.$invalid && signUpForm.yzm.$touched}"
						   ng-minlength="6"
						   ng-maxlength="6"
						   required
						   class="am-form-field sky_register_yzm"
						   placeholder="请输入验证码"/>
				</div>
				<a href="javascript:;" ng-click="get_yzm(this)" id="get_yzm">
					<input class="am-btn-secondary get_btn_yzm" type="button" value="获取验证码" >
				</a>
			</div>
			<button type="submit" class="am-btn am-btn-secondary am-btn-default am-btn-block am-btn-next" ng-disabled="signUpForm.$invalid">下一步</button>
			<div class="am-form-group sky_register_xieyi">
					<input type="checkbox" name="agree"
						   ng-model="agree"
						   ng-class="{'error':signUpForm.agree.$invalid}"
						   required
						   class="sky_register_xieyi_input"/>
                    <span class="sky_register_xieyi_agree" data-am-modal="{target: '#my-popup'}">同意
                         <span ui-sref="user_registration_protocol" class="checkbox_agreement">《三客柚用户注册协议》</span>
                     </span>
				<span class="checkbox_zhanghaoed">有账号？<a ui-sref="signin"><span class="span2">登陆</span></a></span>
			</div>
		</form>
	</div>
</div>
</div>
