<link rel="stylesheet" href="/assets/css/skyregister.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<style>
	html{
		overflow-y: hidden;
	}
 	#check{
		line-height: 1;
		z-index: 2;
		margin-top: 1em;
		margin-right: .5em;

	}
	.form-control {
		height: 50px;
		padding: .5em;
		font-size: 1.6rem;
	}
	.error{
		border: 1px solid red;
	}
	.sky_register_yzm{
		width: 60%; height: 50px; position:absolute;left:12px;right:100px;border-radius: 10px;
	}
</style>
<body ng-app="myApp" ng-controller="MainController">
<div class="am-g">
	<header class="am-topbar am-topbar-inverse am-topbar-fixed-top register_one_header">
		<span class="register_header_title">会员注册</span>
		<a ui-sref="signin"><span class="am-icon-chevron-left register_header_back"></span></a>
	</header>
	<div style="margin-top: 40px;">
	<img class="sky_register_logo" src="/assets/images/orderdetails_logo_icon.png"><br>
	<div class="am-u-lg-6 am-u-md-8 am-u-sm-centered"><br>
		<form class="" action="/frontend/register" method="post" name="signUpForm" ng-submit="submitForm()">
			<!--<div class="am-form-group am-form-icon">-->
				<!--<i class="am-icon-mobile-phone"></i>-->
				<!--<div class="am-form-icon am-form-feedback">-->
					<!--<span id="check" class="am-icon-check"></span>-->
				<!--</div>-->
				<!--<input type="number" name="mobile"-->
					   <!--ng-model="mobile"-->
					   <!--ng-class="{'error':signUpForm.mobile.$invalid && signUpForm.mobile.$touched}"-->
					   <!--ng-minlength="11"-->
					   <!--ng-maxlength="11"-->
					   <!--required-->
					   <!--class="am-form-field am-form-mobile sky_register_border"-->
					   <!--style="border-radius: 10px;" placeholder="请输入你的手机号(11位)"/>-->
			<!--</div>-->
			<div class="am-form-group am-form-icon">
				<i class="am-icon-mobile-phone"></i>
				<!--<div class="am-form-icon am-form-feedback">-->
					<!--<span id="check" class="am-icon-check"></span>-->
				<!--</div>-->
				<input style="border-radius: 10px;" type="number" name="mobile"
					ng-model="mobile"
					ng-class="{'error':signUpForm.mobile.$invalid && signUpForm.mobile.$touched}"
					ng-minlength="11"
					ng-maxlength="11"
					required
					class="am-form-field am-form-mobile form-control"
					placeholder="请输入你的手机号(11位)"/>
            </div>
			<div class="get_yzm_all">
				<div class="am-form-group">
					<input type="number"  name="yzm"
						   ng-model="yzm"
						   ng-class="{'error':signUpForm.yzm.$invalid && signUpForm.yzm.$touched}"
						   ng-minlength="6"
						   ng-maxlength="6"
						   required
						   class="am-form-field sky_register_yzm"
						   placeholder="请输入验证码"/>
				</div>
				<a href="javascript:;" onclick="get_yzm(this)" id="get_yzm">
					<input class="am-btn-secondary get_btn_yzm" type="button" value="获取验证码" >
				</a>
			</div>
			<button type="submit" class="am-btn am-btn-secondary am-btn-default am-btn-block am-btn-next" ng-disabled="signUpForm.$invalid">下一步</button>
			<div class="am-form-group sky_register_xieyi">
				<label class="am-checkbox-inline">
					<input class="sky_register_xieyi_input" type="checkbox" name="agree" required>
                    <span class="sky_register_xieyi_agree" data-am-modal="{target: '#my-popup'}">同意
                         <span  class="checkbox_agreement">《三客柚用户注册协议》</span>
                     </span>
				</label>
				<span class="checkbox_zhanghaoed">有账号？<a ui-sref="signin"><span class="span2">登陆</span></a></span>
			</div>
			<div class="am-popup" id="my-popup">
				<div class="am-popup-inner">
					<div class="am-popup-hd">
						<h4 class="am-popup-title">用户协议</h4>
                        <span data-am-modal-close
							  class="am-close">&times;</span>
					</div>
					<div class="am-popup-bd" >
						<h1 style="text-align: center;">三客柚用户注册协议</h1>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本服务协议三客柚的经营者江苏三客柚网络技术有限公司（以下简称为“三客柚”或“我方”），与用户（下称为“您”），共同缔结的对双方具有约束力的有效契约。
							三客柚向用户提供三客柚公众号上所展示的产品与服务（下称“三客柚服务”、“本服务”），并将不断更新服务内容，最新的三客柚服务以本网站上的相关产品及服务介绍的页面展示以及向用户实际提供的为准。</p>
						<h2 style="margin: 0;padding: 0;"> 一、 总则</h2>
						<p>1.1 您确认：您在加入三客柚平台之前，已经充分阅读、理解并接受本协议的全部内容，一旦您选择“同意”并完成注册流程或使用本服务，即表示您同意遵循本服务协议之所有约定。</p>
						<p>1.2 您同意：三客柚有权随时对本服务协议及相应的服务规则内容进行单方面的变更，并有权以消息推送、网页公告等方式予以公布，而无需另行单独通知您；若您在本服务协议内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用本服务；若您不同意修改后的服务协议，您应立即停止使用本服务。</p>
						<p>1.3 您知悉：三客柚是在中国红十字基金会授权下负责运营三客柚平台，您自愿成为三客柚特使，接受三客柚平台的服务。三客柚受联盟商家的委托，将商家的公益让利部分按三客柚平台的激励规则对您及其它关联方进行激励。双方根据有关法律法规规定, 本着互惠、互利共同发展、公平合理的原则达成如下协议，以示遵守。</p>
						<h2 style="margin: 0;padding: 0;"> 二、 注册、账户和实名认证</h2>
						<p>2.1 在您按照注册页面提示填写信息、阅读并同意本服务协议且完成全部注册程序后，您即已获得三客柚账户，正式成为三客柚特使。您可以使用您提供或确认的手机号码或者我方允许的其它方式作为登录手段进入本网站。</p>
						<p>2.2 您确认，在您完成注册程序或以其它我方允许的方式实际使用本服务时，您应当是具备完全民事权利能力和完全民事行为能力的自然人。</p>
						<p>2.3 若您是未成年人或限制民事行为能力人，则您不具备前述主体资格，您及您的监护人应承担因您的不当注册行为而导致的一切后果，且我方有权注销（永久冻结）您的账户，并向您及您的监护人索赔。</p>
						<p>2.4 在完成注册或激活流程时，按相应页面的提示准确提供并及时更新您的资料，以使之真实、完整和准确。若三客柚有合理理由怀疑您提供的资料错误、不实、过时或不完整的，我方有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，或中止、终止对您提供部分或全部服务。我方对此不承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。</p>
						<p>2.5 若因您提供的注册信息不准确或过时，包括但不限于你提供的电子邮件地址、联系电话、联系地址、等联系方式，造成我方无法与您取得联系，导致您在使用三客柚服务过程中产生任何损失或增加费用的，应由您完全独自承担。您了解并同意，您有义务保持您提供的联系方式的有效性，如有变更需要更新的，您应按三客柚的要求进行操作。</p>
						<p>2.6 目前三客柚允许一个法律主体拥有多个三客柚账户，但一个三客柚账户仅能对应唯一的法律主体。除非有法律规定或生效法律文书确定，或者符合我方公布的条件，否则您不得以任何方式转让、赠与或让他人继承您的三客柚账户。同时，在进行符合条件的三客柚账户转让、赠与或继承时，我方有权要求您、及/或受让受赠者、或您的继承人提供合格的文件材料并按照我方要求的操作流程办理。</p>
						<p>2.7 您了解并同意，为保证账户和交易安全，我方有权随时要求您完成三客柚账户的实名认证；同时，三客柚可能会就某些产品或服务的开通，要求您提供更多的身份资料和信息，做进一步的身份认证或资格验证，您的账户只有在通过这些认证和验证之后，方可获得使用相关产品或服务的资格。</p>
						<p>2.8 通常情况下，您的三客柚账户是您在本网站进行一切活动的唯一身份识别依据，每一个三客柚账户都可以在本网站独立开展活动。但在下列情形下，我方有权根据自己的判断，对同一及/或关联法律主体拥有的多个三客柚账户进行统一处理。</p>
						<h2 style="margin: 0;padding: 0;"> 三、 账户安全</h2>
						<p>3.1 您须自行负责对您的三客柚账户和密码保密，且须对您在该登录名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。您同意：</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;(a) 如发现任何人未经授权使用您的三客柚账户和密码，或发生违反保密规定的任何其他情况，您会立即通知三客柚；</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;(b) 确保您在每个上网时段结束时，以正确步骤离开网站。三客柚不能也不会对因您未能遵守本款规定而发生的任何损失或损毁负责。</p>
						<p>您理解三客柚对您的请求采取行动需要合理时间，三客柚对采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。</p>
						<p>3.2 除非有法律规定或司法裁定，且征得三客柚的同意，否则，您的三客柚登录和密码不得以任何方式转让、赠与或继承（与账户相关的财产权益除外）。</p>
						<p>3.3 您理解并同意，我方有权了解您使用本网站产品及服务的真实背景及目的，有权要求您如实提供真实、全面、准确的信息；如果我方有合理理由怀疑您提供的信息不真实、您进行虚假交易，或您的行为违反三客柚网站规则的，三客柚有权暂时或永久限制您账户下所使用的所有产品及/或服务的部分或全部功能。</p>
						<p>3.4 您理解并同意，基于运行和交易安全的需要，三客柚有权暂时停止或者限制您账号下部分或全部葵花籽的申请回购或转赠功能，三客柚将通过邮件、站内信息、短信或电话等方式通知您，您应及时予以关注并按照程序进行申诉等后续操作。</p>
						<p>3.5 您理解并同意，三客柚有权按照国家司法、行政、军事、安全等机关（包括但不限于公安机关、检察机关、法院、海关、税务机关、安全部门等）的要求对您的个人信息及个人账户的信使豆、交易及账户等进行查询、冻结或扣划。</p>
						<p><strong> 3.6 保密协议</strong></p>
						<p>（1）您同意在合作过程中涉及的所有秘密信息，任何一方未经商业秘密提供方同意，均不得将该信息向任何第三方披露、传播、编辑或展示。</p>
						<p>（2）因对方书面同意以及国家行政、司法强制行为而披露商业秘密的，披露方不承担责任；该商业秘密已为公众所知悉的，披露方不承担责任。</p>
						<p><strong>3.7 账户注销</strong></p>
						<p>3.7.1 保留在您违反国家、地方法律法规规定或违反本服务协议的情况下，中止或终止为您提供部分或全部服务、直至注销三客柚账户的权利。</p>
						<p>3.7.2 您理解并同意，如您连续12个月未使用您的邮箱、手机或本网站认可的其他方式和密码登录过本网站，且您的账户下不存在任何未到期的服务，三客柚有权注销您的登录名，您将不能再登录三客柚网站。</p>
						<p>3.7.3 您同意并授权三客柚网站，如您在三客柚网站有欺诈、发布或销售伪劣商品、侵犯他人合法权益或其他严重违反任一三客柚网站规则的行为，您的三客柚登录名可能被注销，被注销后您不能再登录三客柚网站，三客柚网站服务同时终止。</p>
						<p>3.7.4 您保证不会采取任何影响、损害或可能影响、损害三客柚及其关联公司、网站的合法权益，前述影响或损害三客柚及关联公司、网站合法权益的行为或方式包括但不限于：</p>
						<p>3.7.4.1 违反三客柚及其关联公司公布的任何服务协议/协议、管理规范、交易规则等规范内容；</p>
						<p>3.7.4.2 破坏或试图破坏三客柚网站、三客柚及其关联公司公平交易环境或正常交易秩序；</p>
						<p>3.7.4.3 任何使用含有三客柚名称、三客柚品牌且对他人有误导嫌疑或任何使用某种中英文(全称或简称)、数字、域名等意图表示或映射与三客柚具有某种关系的；</p>
						<p>3.7.4.4 三客柚根据自行合理判断，认为可能是与如上行为性质相同或产生如上类似风险的其他情况。 您认可三客柚有权在您违反上述约定时有权终止向您提供服务，即您将不能再登录三客柚网站，即网站服务将同时终止。</p>
						<h2 style="margin: 0;padding: 0;"> 四、 激励方式</h2>
						<p>4.1 您自愿加盟三客柚平台，成为三客柚特使，并享有特使的各项权益并遵守相应的义务。</p>
						<p>4.2 您在我方联盟商家消费时，主动要求联盟商家提交消费数据给三客柚平台，以便我方及时获得消费数据。</p>
						<p>4.3 我方受联盟商家的委托，将收到的商家让利部分对所有三客柚特使及关联方进行激励，<strong>具体规则如下：</strong></p>
						<p>4.3.1 联盟商家的让利系数分别为：</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;A 类商品或服务，让利系数为 6%；</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;B 类商品或服务，让利系数为 12%；</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;C 类商品或服务，让利系数为 24%；</p>
						<p>4.3.2 当您在三客柚联盟商家同一系列的累积消费达到500元时，即获得1颗激励向日葵，这颗向日葵将不断获得葵花籽激励。</p>
						<p>4.3.3 激励规则按滚动加权制来进行，即每颗向日葵获得的葵花籽等于每天商家总让利额乘以（会员激励的比例）再除以总向日葵数，直到每颗向日葵获得的激励葵花籽达到设定的数量时（见下表），这个向日葵的激励将自动结束，这颗向日葵将在系统自动消失。</p>
						<table border="1px" style="text-align: center;">
							<tr>
								<td>联盟商家让利系数</td>
								<td> 6% </td>
								<td> 12% </td>
								<td> 24% </td>
							</tr>
							<tr>
								<td>(1)特使的1颗向日葵获得葵花籽（约）</td>
								<td> 125 </td>
								<td> 250 </td>
								<td> 500 </td>
							</tr>
							<tr>
								<td>(2)联盟商家1颗向日葵获得葵花籽（约）</td>
								<td> 27 </td>
								<td> 54 </td>
								<td> 108 </td>
							</tr>
						</table>
						<p>4.3.4 每天给予特使激励的葵花籽数量及每颗向日葵的激励周期长短取决于联盟商家的让利总额，我方对此不做任何承诺。</p>
						<h2 style="margin: 0;padding: 0;"> 五、 网站服务使用守则</h2>
						<p><strong> 为有效保障您使用本服务的合法权益，您理解并同意接受以下规则：</strong></p>
						<p>5.1 您通过包括但不限于以下方式向三客柚发出的指令，均视为您本人的指令，不可撤回或撤销，您应自行对三客柚执行前述指令所产生的任何结果承担责任。</p>
						<p>5.1.1 通过您的三客柚账户和密码进行的所有操作；</p>
						<p>5.1.2 通过与您的账号绑定的手机号码向三客柚发送的全部信息；</p>
						<p>5.1.3 其他三客柚与您约定或三客柚认可的其他方式。</p>
						<p>5.2 您在使用本服务过程中，本服务协议内容、页面上出现的关于交易操作的提示或三客柚发送到您手机的信息（短信或电话等）内容是您使用本服务的相关规则，您了解并同意三客柚有权单方修改服务的相关规则，而无须征得您的同意。</p>
						<p>5.2.1 葵花籽回购、转赠和税费</p>
						<p>（1）当您对我方激励分配的葵花籽进行申请回购时，为节省我方财务人员的大量工作，按100颗葵花籽的整数倍提取，所以你的葵花籽数量必须至少达到100颗才可申请回购，我方按 T+3 日转入您的银行帐户，回购葵花籽所涉及的手续费及相关税费由您方承担。</p>
						<p>（2）您有权直接将葵花籽捐给《中国红十字基金会》或向您的朋友转赠，一旦您在网上使用捐赠或转赠的功能，表示这个功能已经执行并生效，您的葵花籽总数将会相应的减少。</p>
						<p>5.3 三客柚可能会以电子邮件（或发送到您手机的短信或电话等）方式通知您服务进展情况以及提示您进行下一步的操作，但三客柚不保证您能够收到或者及时收到该邮件（或发送到该手机的短信或电话等），且不对此承担任何后果。因此，在服务过程中您应当及时登录到本网站查看和进行交易操作。因您没有及时查看和对服务状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，三客柚不负任何责任。</p>
						<p>5.4 您授权三客柚可以通过向第三方审核您的身份和资格，取得您使用本服务的相关资料。</p>
						<p>5.5 在您使用三客柚服务时，三客柚有权依照相应的产品/及或服务收费介绍、订单及/或相关协议向您收取服务费用。三客柚拥有制订及调整服务费之权利，具体服务费用以您使用本服务时网站上所公告或您与三客柚达成的其他书面协议为准。</p>
						<p>5.6 部分三客柚服务开通后，即使您未新增服务项目或资源，亦未进行新的操作，但因占用资源的收费如果实现, 请您注意及时于账户中补充款项，以保证服务不被终止。</p>
						<p><strong>5.7 申诉及处理</strong></p>
						<p>5.7.1 在您使用三客柚服务的过程中，有可能因为违反本服务协议相关要求而被三客柚采取了包括但不限于停止全部或部分服务、限制服务的全部或部分功能、冻结全部或部分账户资金等措施，三客柚将通过邮件、站内信、短信或电话等方式通知您按照相应的程序进行申诉。</p>
						<p>5.7.2 您通过申诉程序，向三客柚申请解除上述限制或冻结或恢复服务的，应按照三客柚的要求，如实提供身份证明及相关资料，以及三客柚要求的其他信息或文件，以便我方进行核实。我方有权依照自行判断来决定是否同意您的申诉请求。</p>
						<p>5.7.3 您理解并同意，如果您拒绝如实提供身份证明及相关资料的，或未能通过我方审核的，我方有权长期冻结该等账户且长期限制该等产品或者服务的部分或全部功能。</p>
						<h2 style="margin: 0;padding: 0;"> 六、 您的权利和义务</h2>
						<p>6.1 您有权利享受我方提供的互联网技术和信息服务，并有权利在接受我方提供的服务时获得技术支持、咨询等服务，服务内容详见本网站相关产品介绍。</p>
						<p>6.2 您保证不会利用技术或其他手段破坏或扰乱本网站。</p>
						<p>6.3 您应尊重我方及其他第三方的知识产权和其他合法权利，并保证在发生侵犯上述权益的违法事件时尽力保和三客柚及其股东、雇员、合作伙伴等免于因该等事件受到影响或损失；我方保留您侵犯三客柚合法权益时终止向您提供服务并不退还任何款项的权利。</p>
						<p>6.4 对由于您向我方提供的联络方式有误以及您用于接受我方邮件的电子邮箱安全性、稳定性不佳而导致的一切后果，您应自行承担责任，包括但不限于因您未能及时收到我方的相关通知而导致的后果和损失。</p>
						<p>6.5 您使用我方产品或服务时将遵从国家、地方法律法规、行业惯例和社会公共道德，不会利用我方提供的服务进行存储、发布、传播如下信息和内容：违反国家法律法规政策的任何内容（信息）；违反国家规定的政治宣传和/或新闻信息；涉及国家秘密和/或安全的信息；封建迷信和/或淫秽、色情、下流的信息或教唆犯罪的信息；博彩有奖、赌博游戏；违反国家民族和宗教政策的信息；妨碍互联网运行安全的信息；侵害他人合法权益的信息和/或其他有损于社会秩序、社会治安、公共道德的信息或内容;您同时承诺不得为他人发布上述不符合国家规定和/或本服务协议约定的信息内容提供任何便利，包括但不限于设置URL、BANNER链接等; 如因您违反上述行为给三客柚造成损失的，您应予赔偿。</p>
						<h2 style="margin: 0;padding: 0;"> 七、 三客柚的权利和义务</h2>
						<p>7.1 我方承诺对您的资料采取对外保密措施，不向第三方披露您的资料，不授权第三方使用您的资料，除非：</p>
						<p>7.1.1 依据本服务协议或者您与三客柚之间其他服务协议、合同、在线协议等规定可以提供；</p>
						<p>7.1.2 依据法律法规的规定应当提供；</p>
						<p>7.1.3 行政、司法等职权部门要求我方提供；</p>
						<p>7.1.4 您同意我方向第三方提供；</p>
						<p>7.1.5 我方为解决举报事件、提起诉讼而提交的；</p>
						<p>7.1.6 我方为防止严重违法行为或涉嫌犯罪行为发生而采取必要合理行动所必须提交的；</p>
						<p>7.1.7 我方为了向您提供产品、服务、信息而向第三方提供的，包括我方须通过第三方的技术及服务向您提供产品、服务、信息的情况。</p>
						<p>7.2 我方有权根据本服务协议的约定，根据您的服务使用情况，自您的账户余额中直接扣除相关服务费用。</p>
						<p>7.3 <strong> 当存在如下情形之一时，我方有权对您名下账户葵花籽的部分或全部进行冻结：</strong></p>
						<p>7.3.1 国家法律、法规、政策、法律文书的规定；</p>
						<p>7.3.2 国家有权机关要求进行冻结的；</p>
						<p>7.3.3 您使用三客柚服务的行为涉嫌违反国家法律法规及行政规定的；</p>
						<p>7.3.4 我方基于单方面合理判断，认为您的账户操作、资金进出等存在异常时，或认为可能产生风险的其他情况；</p>
						<p>7.3.5 他人向您账户错误汇入信使豆等导致您可能存在不当得利的；</p>
						<p>7.3.6 您遭到他人投诉，且对方已经提供了一定证据的；</p>
						<p>7.3.7 您在联盟商家录入的消费数据是假消费，并没有产生真实的消费时。 我方按照前述规定对您的账户葵花籽进行冻结后，将通过邮件、站内信息、短信或电话等方式通知您按照相应的程序进行申诉。如果您按照本服务协议的要求进行申诉并经我方审核通过的，将立即解除葵花籽冻结措施；如果您未在规定时间内进行申请，或您的申诉未能通过我方审核的，则您确认我方有权长期冻结该账户，或将相关冻结款项捐赠给《中国红十字基金会》。</p>
						<h2 style="margin: 0;padding: 0;"> 八、 隐私及其他个人信息的保护</h2>
						<p> 一旦您同意本服务协议或使用本服务，您即同意我方按照以下协议来使用和披露您的个人信息。</p>
						<p><strong> 8.1  登录名和密码</strong></p>
						<p> 在您注册帐户时，三客柚会要求您设置三客柚账户登录名和密码来识别您的身份。您仅可通过您设置的密码来使用该账户，如果您泄漏了密码，您可能会丢失您的个人识别信息，并可能导致对您不利的法律后果。该账户和密码因任何原因受到潜在或现实危险时，您应该立即和我方取得联系，在我方采取行动前所造成的损失我方对此不负任何责任。</p>
						<p><strong> 8.2  银行账户信息</strong></p>
						<p>若我方所提供的服务需要您提供您的银行账户信息，在您提供相应信息后，我方将严格履行相关保密约定。</p>
						<p> <strong>8.3  登录记录</strong></p>
						<p>为了保障您使用本服务的安全以及不断改进服务质量，三客柚将记录并保存您登录和使用本服务的相关信息，但我方承诺不将此类信息提供给任何第三方（除双方另有约定或法律法规另有规定及我方关联公司外）。</p>
						<p> <strong>8.4  广告</strong></p>
						<p>我方会对三客柚用户的身份数据进行综合统计，并出于销售和奖励的需要使用或披露。</p>
						<p><strong> 8.5  外部链接</strong></p>
						<p>本网站如果含有到其他网站的链接，我方对其他网站的隐私保护措施不负任何责任。我方可能在任何需要的时候增加商业伙伴或共用品牌的网站。</p>
						<p> <strong>8.6 安全</strong></p>
						<p>我方仅按现有技术提供相应的安全措施来使三客柚网站掌握的信息不丢失，不被滥用和变造。这些安全措施包括向其他服务器备份数据和对用户密码加密。尽管有这些安全措施，但我方不保证这些信息的绝对安全。</p>
						<p><strong> 8.7 用户信息</strong></p>
						<p>您完成账户注册或激活账户时，应向三客柚网站提供您的真实姓名、地址、电话号码和电子邮件地址，您还可以选择来填写相关附加信息（包括但不限于您所在的省份和城市、邮政编码、个人照片等）。您同意本协议时您即表明同意三客柚及其服务商和推广中心为运作本服务而收集、使用和/或披露和互相分享您的个人资料，并将这些个人信息披露给授权服务提供商和相关第三方。</p>
						<p><strong> 8.8 您进一步同意三客柚：</strong></p>
						<p>8.8.1 向您发送定制化的信息或新产品/服务信息，通过电邮、电话（包括语音电话、传真或信息，如果您表明我们可以以此方式联系您）；</p>
						<p>8.8.2 出于为您提供增强或分析的统计功能使用您的个人信息，或者出于销售或鼓励的目的使用或披露个人信息。</p>
						<h2 style="margin: 0;padding: 0;"> 九、 系统中断或故障</h2>
						<p>系统可能因下列状况无法正常运作，使您无法使用各项互联网服务时，我方不承担损害赔偿责任，该状况包括但不限于：</p>
						<p>9.1 我方网站在系统停机维护期间。</p>
						<p>9.2 电信设备出现故障不能进行数据传输的。</p>
						<p>9.3 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成三客柚系统障碍不能执行业务的。</p>
						<p>9.4 由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</p>
						<h2 style="margin: 0;padding: 0;"> 十、 责任范围及责任限制</h2>
						<p>10.1 我方仅对本服务协议中列明的责任承担范围负责。</p>
						<p>10.2 本服务之合作单位，所提供之服务品质及内容由该合作单位自行负责，我方不承担任何责任。</p>
						<p>10.3 您了解并同意，因您使用本服务、违反本服务协议或在您的账户下采取的任何行动，而导致的任何第三方索赔，仅应由您本人承担。如果由此引起三客柚及其关联公司、员工、客户和合作伙伴被第三方索赔的，您应负责处理，并承担由此造成的全部责任。</p>
						<p>10.4 在法律允许的情况下，三客柚对于与本服务协议有关或由本服务协议引起的任何间接的、惩罚性的、特殊的、派生的损失，不论是如何产生的，也不论是由对本服务协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本服务协议规定的排他性救济没有达到其基本目的，也应排除三客柚对上述损失的责任。</p>
						<h2 style="margin: 0;padding: 0;"> 十一、 完整协议</h2>
						<p>11.1 本服务协议由本服务协议与本网站公示的各项规则组成，相关名词可互相引用参照，如有不同理解，以本服务协议为准。</p>
						<p>11.2 本服务协议的章节标题仅为行文方便而设，不具有法律或合同效力。</p>
						<p>11.3 您对本服务协议理解和认同，您即对本服务协议所有组成部分的内容理解并认同，一旦您使用本服务，您和三客柚即受本服务协议所有组成部分的约束。</p>
						<p>11.4 本服务协议部分内容被有管辖权的法院认定为违法的，不因此影响其他内容的效力。</p>
						<h2 style="margin: 0;padding: 0;">十二、商标、知识产权的保护</h2>
						<p>12.1 除第三方产品或服务外，本网站上所有内容，包括但不限于著作、图片、档案、资讯、资料、架构、页面设计，均由三客柚或其关联企业依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。</p>
						<p>12.2 非经三客柚书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表本网站上程序或内容。</p>
						<p>12.3 尊重知识产权是您应尽的义务，如有违反，您应承担损害赔偿责任。</p>
						<h2 style="margin: 0;padding: 0;">十三、法律适用与管辖</h2>
						<p>13.1 本服务协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。</p>
						<p>13.2 双方因履行本合同产生争议的，应友好协商解决，协商不成提交江苏省仲裁院仲裁，仲裁采用简易程序。</p>
						<p>13.3 甲乙双方同意，与本协议有关的任何通知，以书面方式送达方为有效。书面形式包括但不限于：快递、邮件、电子邮件。上述通知应被视为在下列时间送达：以电子邮件形式发出的，自电子邮件进入对方邮件系统之时，视为通知到达；以快递/书面邮件形式发出的，自对方签收之日或快递发出之日起5日内视为通知到达。</p>
						<h2 style="margin: 0;padding: 0;">十四、本服务协议相关文字的定义</h2>
						<p>14.1 三客柚平台，是指三客柚网站、三客柚公众号和APP系统及其它关联部分（以下简称平台）。</p>
						<p>14.2 公益特使：是指在三客柚网站、三客柚公众号或APP系统注册的特使。</p>
						<p>14.3 特使推荐人：是指特使的介绍人，其提供了本人的二维码让特使扫描或个人ID让特使注册时输入。</p>
						<p>14.4 激励：是指商家的公益让利资金委托三客柚平台对特使及关联方进行分配。</p>
						<p>14.5 服务商：是指从三客柚获得权限，代表三客柚和商家洽谈、签约，后续对商家监管、服务的自然人或公司。</p>
						<p>14.6 葵花籽：是指商家公益让利资金通过三客柚平台再次分配时激励的计算单位，1颗葵花籽价值等于1元人民币。</p>
						<p>14.7 向日葵：是指平台给予特使和商家的激励权限，特使在同一系列的联盟商家累积消费到500元，即可获得1颗向日葵，商家对特使的营业额累积达到500元，即可获得1颗向日葵。</p>
						<p>14.8 三客柚对本协议拥有最终解释权。</p>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</div>
</body>
<script>
	angular.module('myApp',[])
			.controller('MainController',function ($scope) {
				$scope.submitForm = function () {
					console.log('表单提交');
				}
			})
</script>
<script>
	window.wait = 90
	function get_yzm(obj){
		if(!$("#doc-vld-phone-2").val()){
			alert('请输入手机号码');
			return false;
		}
//        {{literal}}
		if(!(/^1[34578]\d{9}$/.test($("#doc-vld-phone-2").val()))){
			alert("手机号码有误，请重填");
			return false;
		}
//        {{/literal}}
		$.getJSON("{{site_url url='/frontend/get_yzm'}}/"+$("[name='mobile']").val(),function(data){
			if(data.error != 0){
				alert(data.msg);
				return false;
			}
			time($("#get_yzm").find('input'))
		});
	}
	function time(o) {
		if (window.wait == 0) {
			o.attr('disabled',false);
			o.val('获取验证码');
			window.wait = 90;
		} else {
			o.attr('disabled',true);
			o.val("重新发送"+(window.wait))
			window.wait--;
			setTimeout(function() {
						time(o)
					},
					1000)
		}
	}
</script>