<link rel="stylesheet" href="/assets/css/usercenter.css">
<body class="user_center_body_all">
<div class="body_all">
    <div class="register_one_header">
        <span class="register_header_title">个人中心</span>
        <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
    </div>
    <div class="header_center">
        <img src="/assets/images/userimg.png">
        <div class="header_photo">
            <div class="header_photo_user">
                <img src="{{api_uri}}/upload//{{user_info.face}}" id="image1">
            </div>
            <div class="user_center_user_id">
                {{user_info.rel_name}}<span>(ID:{{user_info.id}})</span>
                <div class="header_photo_user_name" ng-if="user_info.id == 1341 || user_info.is_dl == 4">市级代理</div>
                <div class="header_photo_user_name" ng-if="user_info.is_dl == 1">普通用户</div>
                <div class="header_photo_user_name" ng-if="user_info.is_dl == 2">服务商</div>
                <div class="header_photo_user_name" ng-if="user_info.is_dl == 3">联合服务商</div>
                <div class="header_photo_user_name" ng-if="user_info.is_dl == 5">省级代理</div>
            </div>
        </div>
    </div>
    <table class="shop_index_section_table" border="0">
        <tr>
            <td class="td_border">
                <span>{{user_info.integral}}</span><br>
                <span>葵花籽</span>
            </td>
            <td class="td_border">
                <span>{{sum_count}}</span><br>
                <span>向日葵</span>
            </td>
            <td class="td_border">
                <a href="#">
                    <span><img src="../../assets/images/personalcenter_icons_merchant.png"></span><br>
                    <span>成为商家</span>
                </a>
            </td>
        </tr>
    </table>
    <div class="shop_index_section_content_all">
        <a ui-sref="information_revise">
            <div class="shop_index_section_content_list">
                <span class="am-icon-cogs user_center_list_name">&nbsp;账户管理</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a ui-sref="main.withdraw">
            <div class="shop_index_section_content_list">
                <span class="am-icon-credit-card user_center_list_name">&nbsp;资金管理</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a ui-sref="main.list_orders">
            <div class="shop_index_section_content_list">
                <span class="am-icon-cart-plus user_center_list_name">&nbsp;我的订单</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a ui-sref="main.user_heart">
            <div class="shop_index_section_content_list">
                <span class="am-icon-sun-o user_center_list_name">&nbsp;我的向日葵</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a ui-sref="main.myincome">
            <div class="shop_index_section_content_list">
                <span class="am-icon-line-chart user_center_list_name">&nbsp;我的收益</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a ui-sref="main.my_team">
            <div class="shop_index_section_content_list">
                <span class="am-icon-users user_center_list_name">&nbsp;我的团队</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
        <a ui-sref="main.my_shop_order">
            <div class="shop_index_section_content_list">
                <span class="am-icon-cart-plus user_center_list_name">&nbsp;商城订单</span>
                <span class="user_center_list_right">></span>
            </div>
        </a>
    </div>
    <div>
        <a href=""><button class="shop_index_section_btn" ng-click="logout()">退出登录</button></a>
    </div>
</div>
<script>
    $('#image1')
            .load(function(){
            })
            .error(function(){
                $('#image1').attr('src',"/assets/images/registered_avatar@2x.png")
            });

</script>

</body>