<link rel="stylesheet" href="/assets/css/userheart.css">
<div class="register_one_header">
    <span class="register_header_title">我的向日葵</span>
    <a href="javascript:window.history.go(-1);"><span class="am-icon-chevron-left register_header_back"></span></a>
</div>
<div class="sky_my_income">
    <table class="table1" border="0">
        <tr>
            <td class="td1" id="shop_sunflower">
                <a ui-sref="main.shop_heart">商家向日葵</a>
            </td>
            <td class="td2" id="user_sunflower">
                <a ui-sref="main.user_heart">用户向日葵</a>
            </td>
        </tr>
    </table>
    <div id="user_record">
          <div class="user_heart_background_img">
               <div class="user_heart_background_img_series">
                   24 系列
               </div>
               <div class="user_heart_background_img_english">
                   SUNFLOWER TOTAL
               </div>
                <div class="user_heart_background_img_total">
                    向日葵总计：123
                </div>
          </div>
    </div>
    <table class="table2" border="0">
        <tr>
            <td ui-sref="main.user_heart" class="td1">
                6%激励
            </td>
            <td ui-sref="main.user_heart_1" class="td2">
                12%激励
            </td>
            <td style="color: #3ab5f3;" ui-sref="main.user_heart_2" class="td2">
                24%激励
            </td>
        </tr>
    </table>
    <table class="am-table">
        <thead>
        <tr>
            <th>向日葵</th>
            <th>已激励</th>
            <th>日期</th>
        </tr>
        </thead>
        <tbody infinite-scroll='userhearttwo.nextPage(3)' infinite-scroll-disabled='userhearttwo.busy' infinite-scroll-distance='1'>
        <tr ng-repeat="item in userhearttwo.items">
            <td>{{item.status}}</td>
            <td>{{item.return_integral}}</td>
            <td>{{item.cdate}}</td>
        </tr>
        </tbody>
    </table>
    <p ng-show='myteam.end' id="is_end">已到最后一页</p>
</div>