body{
    background-image: url(../../assets/images/shujubeijing.png);
    background-size: cover;
    height: 100%;
    overflow-y: hidden;
}
html{
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
}
.indexBanner{
    overflow-y: hidden;
}
.show_information_lunbo_header_img{
    background-image:url(../../assets/images/shujutou1.png) ;
    background-size: cover;
    width: 90%;
    height: 80px;
    display: block;
    margin: 0 auto;
}
.show_information_lunbo_header_english{
    padding-left: 14%;color: #ffffff;padding-top: 20px;
}
.show_information_lunbo_header_title{
   padding-left: 14%;color: #ffffff;font-size: 16px;
}
.show_information_card_div_all{
    width: 75%;height: 300px;margin:0 auto;margin-top: 20px;background: rgba(255, 255, 255, 0.5);font-size: 15px;
}
.show_information_card_1{
    width: 100%;height: 100px;text-align: center;
}
.show_information_card_1 .show_information_card_title{
    padding-top: 20px;
}

.show_information_card_1 .show_information_card_refresh , .show_information_card_2 .show_information_card_date , .show_information_card_1 .show_information_card_money{
    color: #01a2f2;
}
.show_information_card_1 .show_information_card_date{
    color: #01a2f2;
}
.show_information_lunbo_header_img_shuju2{
    background-image:url(../../assets/images/shujutu2.png) ;
    background-size: cover;
    width: 90%;
    height: 80px;
    display: block;
    margin: 0 auto;
}
.show_information_lunbo_header_card_two_user{
    padding-left: 18%;color: #ffffff;padding-top: 10px;
}
.show_information_lunbo_header_card_two_sundata,.show_information_lunbo_header_card_two_lovetime{
    padding-left: 18%;color: #ffffff;
}
.show_information_card_2{
    width: 100%;text-align: center;height: 100px;
}
.show_information_card_2 .tr1{
    width: 30%;
}
.show_information_card_2 .td1{
    width: 30%;color: #f7e288;border-radius: 10px;color: #01a2f2;
}
.show_information_card_2 .td2{
    width:70%;text-align: center;
}
.show_information_card_2 .td2 img{
    width: 18px;height: 18px;margin: 0 auto;
}
.show_information_lunbo_header_img_shuju4{
    background-image:url(../../assets/images/shujutou1.png) ;
    background-size: cover;
    width: 90%;
    height: 80px;
    display: block;
    margin: 0 auto;
}
.show_information_lunbo_header_card_four_suncity{
    padding-left: 15%;color: #ffffff;padding-top: 30px;

}
.show_information_card_4{
    width: 100%;height: 37px;text-align: center;font-size: 16px;
}
.show_information_card_4 tr{
    height: 35px;
}

footer{
    width: 100%;height: 60px; position:fixed; bottom:0;background-color: #ffffff;z-index: 55;border-top:1px solid #e9e9e9;color: #696969;
}
.footer_tab{
    text-align: center;
}
.footer_tab td{
    width: 20%;
}
.footer_tab img{
    width: 20px;height: 20px;margin: 0 auto;margin-top: 8px;
}
.footer_span_2{
    font-size: 15px; font-family: '宋体';color: #808080;
}
